body {}
#menuindex {float:left;width:200px;margin-right:15px;}
.listemenu li {
	background-color:#E7CF98;
	border-bottom: 1px solid black;
	-moz-border-radius-topright : 10px;
	-moz-border-radius-bottomright : 10px;
	-webkit-border-top-right-radius :10px;
	-webkit-border-bottom-right-radius :10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.listemenu li:hover {
	background-color: #CCC;
	font-weight: bold;
}
#admintitre, #admintitre:visited, #admintitre:hover {
	font-size: 16pt;
	color: black;
	text-decoration: none;
}
.separator {
	border: none !important;
}
#contenu {float:left;}
#rosedesvents   { width:75px; height:75px;position:absolute; left:13px; top:13px; z-index:200; }
#rose_div_hg 	{ background:transparent url('./../image/rosedesvent/nordouest.png') center; width:25px; height:25px; cursor:pointer; float:left; }
#rose_div_hg:hover 		{ background-position:top; }
#rose_div_hg:active 	{ background-position:bottom; }

#rose_div_h 	{ background:transparent url('./../image/rosedesvent/nord.png') center; width:25px; height:25px; cursor:pointer; float:left; }
#rose_div_h:hover 		{ background-position:top; }
#rose_div_h:active 	{ background-position:bottom; }

#rose_div_hd 	{ background:transparent url('./../image/rosedesvent/nordest.png') center; width:25px; height:25px; cursor:pointer; float:left; }
#rose_div_hd:hover 		{ background-position:top; }
#rose_div_hd:active 	{ background-position:bottom; }

#rose_div_cg 	{ background:transparent url('./../image/rosedesvent/ouest.png') center; width:25px; height:25px; cursor:pointer; float:left; clear:both; }
#rose_div_cg:hover 		{ background-position:top; }
#rose_div_cg:active 	{ background-position:bottom; }

#rose_div_c 	{ background:transparent url('../../image/rosedesvent/rafraichir.png') center; width:25px; height:25px; cursor:pointer; float:left; }
#rose_div_c:hover 		{ background-position:top; }
#rose_div_c:active 	{ background-position:bottom; }

#rose_div_cd 	{ background:transparent url('./../image/rosedesvent/est.png') center; width:25px; height:25px; cursor:pointer; float:left;  }
#rose_div_cd:hover 		{ background-position:top; }
#rose_div_cd:active 	{ background-position:bottom; }

#rose_div_bg 	{ background:transparent url('./../image/rosedesvent/sudouest.png') center; width:25px; height:25px; cursor:pointer; float:left; clear:both; }
#rose_div_bg:hover 		{ background-position:top; }
#rose_div_bg:active 	{ background-position:bottom; }

#rose_div_b 	{ background:transparent url('../../image/rosedesvent/sud.png') center; width:25px; height:25px; cursor:pointer; float:left; }
#rose_div_b:hover 		{ background-position:top; }
#rose_div_b:active 	{ background-position:bottom; }

#rose_div_bd 	{ background:transparent url('./../image/rosedesvent/sudest.png') center; width:25px; height:25px; cursor:pointer; float:left; }
#rose_div_bd:hover 		{ background-position:top; }
#rose_div_bd:active 	{ background-position:bottom; }

.boite_co {
	width:300px;
	height:60px;
	margin:auto;
	margin-top:100px;
	background-color:#E7CF98;
	padding:5px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius: 12px;
}
.boite_co span {float:left;width:60px;}
.boite_co input {float:left;border:1px solid #CCC;}
.boite_co p {clear:both;}
#editcarte
{
	width : 100%;
}
.selecteur
{
	float : left;
}
.mapedit
{
	float : left;
}
.infoperso {
	vertical-align : top;
	float : left;
	padding: 2px;
	margin : 2px;
	height : 75px;
	-moz-border-radius : 10px;
	-webkit-border-radius :10px;
	border-radius: 10px;
	background-color:#91AEF2;
	border:1px solid #555555;
	vertical-align:top;

}
.infoperso td {
font-size : 10px;
margin : 0px;
padding : 0px;
}

#mail_groupe
{
	background:transparent url('../image/interface/message.png') center left no-repeat; width : 28px; height : 19px;
}
#info_groupe
{
	background:transparent url('../image/interface/message.png') center left no-repeat; width : 28px; height : 19px;
}


.roseeticone {
	float : left;
	padding: 4px;
	margin : 5px;
}


#carte h2
{
	padding-left: 25px ;
	color : #000;
	line-height: 25px ;
	font-size: 1.4em ;
	border-top : 1px solid;
	border-bottom : 1px solid;
	border-color : #888;
	font-family: "Trebuchet MS", Times, serif;
	font-variant: small-caps ;
	text-align : center;
	margin-top : 5px;
	margin-bottom : 8px;
	padding : 0px;
	background-color: #D8AB41;

}
#information h2
{
	padding-left: 25px ;

	line-height: 25px ;
	font-size: 1.4em ;
	font-family: "Trebuchet MS", Times, serif;
	font-variant: small-caps ;
	text-align : center;
	margin-top : 5px;
	margin-bottom : 8px;
	height : 40px;
	padding : 0px;
		background-color:#D8AB41;
	border-bottom:1px solid #888888;
	border-color:#888888;
	border-top:1px solid #888888;
	color:#000000;
}

h3.old
{
	border-top : 1px solid;
	border-bottom : 1px solid;
	border-color : #888;
	margin-top : 10px;
	margin-bottom : 5px;
	padding-left : 10px;
	background-color: #91AEF2;
	font-family: "Trebuchet MS", Times, serif;
	font-variant: small-caps ;
}

h3.messagerie
{
	margin-top : 0px;
	margin-bottom : 0px;
	width : 480px;
	position : relative;
	font-variant: normal;
	height : 20px;
	font-weight : normal;
}

h3.messagerie span.auteur
{
	position : absolute;
	left : 0px;
	font-weight : bold;
	display : block;
	width : 114px;
	text-align : center;
	text-transform : capitalize;
}

h3.messagerie span.titre
{
	position : absolute;
	left : 114px;
	color : #828387;
	font-weight : normal;
}

h3.messagerie span.date
{
	position : absolute;
	right : 10px;
	font-size : 0.8em;
}

h4
{
	margin : 0px;
	padding : 0px;
}
h5
{
	color : #000;
	font-size: 1em ;
	border-top : 1px solid;
	border-bottom : 1px solid;
	border-color : #888;
	font-family: "Trebuchet MS", Times, serif;
	font-variant: small-caps ;
	background-color: #DF3F00;
	margin : 0px;
	padding-left : 10px;
}
h6
{
	color : #000;
	font-size: 1em ;
	border-top : 1px solid;
	border-bottom : 1px solid;
	border-color : #888;
	font-family: "Trebuchet MS", Times, serif;
	font-variant: small-caps ;
	background-color: #6EB027;
	margin : 0px;
	padding-left : 10px;
}
img
{
	border : 0px none;
	padding : 0px;
	margin : 0px;
}
dl, dt, dd, ul, li
{
	margin: 0;
	padding: 0;
	list-style-type : none;
}
ol.tuto, ol.tuto li
{
	list-style-type : decimal;
}
.rose_a
{
	margin : 0px;
	padding : 0px;
	width : 0px;
	cursor : pointer;
	font-size : 0px;
}
.rose_a:hover
{
	margin : 0px;
	padding : 0px;
	cursor : pointer;
	font-size : 0px;
}
.rose_tr
{
	font-size : 0px;
	margin : 0px;
	padding : 0px;
	height : 20px;
}
.rose_tr td
{
	font-size : 0px;
	margin : 0px;
	padding : 0px;
}
.rose_div
{
	height : 25px;
}
.brillant
{
	padding-top: 8px;
	text-align : center;
	background-image : url('../image/forum_h2.gif');
	height: 23px;
}
.information_case
{
	padding : 8px;
	font-family: "Trebuchet MS", Times, serif;
	background-color: #BACCF7;
	border : 2px solid;
	margin : 9px;
	border-color : #FFF;
	-moz-border-radius : 13px;
	-webkit-border-radius :13px;
	border-radius: 13px;
}
.information_case h4
{
	width:30%;
	background-color: #D8AB41;
	border-top : 1px solid;
	border-bottom : 1px solid;
	border-color : #888;
	text-align:center;
    margin: 0 auto;
    margin-bottom : 10px;

}
.avatar
{
	float : right;
}
.jsinformation_case 
{
	display: none;
	z-index: 100;
	position: absolute;
	top: 250px;
	right: 150px;
	background-color:#ffffff;
	border: 1px solid #000000;
	font-size:12px;
	width: 250px;
	padding: 5px;
}
.combat
{
	padding : 2px;
	font-family: "Trebuchet MS", Times, serif;
	background-color: #BACCF7;
	border : 2px solid;
	margin : 2px;
	border-color : #444;
	-moz-border-radius : 5px;
	-webkit-border-radius :5px;
	border-radius: 5px;
}
.echange
{
	padding : 2px;
	font-family: "Trebuchet MS", Times, serif;
	background-color: #BACCF7;
	border : 2px solid;
	margin : 2px;
	border-color : #FFF;
	-moz-border-radius : 13px;
	-webkit-border-radius :13px;
	border-radius: 13px;
}
#liste_quete 
{
	border-left : 2px solid;
	border-color : #FFF;
	padding-left : 9px;
	padding-bottom : 10px;
	overflow : auto;
	height : 300px;
	background-color:#91AEF2;
	width : 95%;
    margin: 0 auto;
}
.quete_description
{
	height : 315px;
	padding-top : 10px;
	padding : 5px;
	color : #333;
	font-family: "Trebuchet MS", Times, serif;
	background : #BACCF7;
	border : 2px solid;
	border-color : #FFF;
	-moz-border-radius : 7px;
	-webkit-border-radius : 7px;
	border-radius: 7px;
}

.description_quete
{
	overflow : auto;
	height : 280px;
}

.inventaire
{
	background-color: #D4DAE2;
	margin : 9px;

}
#carte h2
{
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:15px;
font-variant:small-caps;
text-decoration:none;
}
#carte h2 a 
{
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:15px;
font-variant:small-caps;
text-decoration:none;
}
.carte_bas {
background : #000;
height:05px;
}
#deplacement h4
{
	text-align: center;
	background-color: #D4DAE2;
	border : 1px solid;
	border-color : #888;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	border-radius: 5px;
	margin-bottom : 5px;
	font-family:"Trebuchet MS",Times,serif;
}


/***************************************************
  Global Site
 ***************************************************/

#top
{
	display : block;
	width: 1000px;
    margin: 0 auto;
	z-index :5;
}
#conteneur
{

	z-index :2;
}
#bas
{
  clear: both;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 9px;
}
#centre
{
	margin-top : 3px;
	margin-left : 7px;
	margin-right : 30px;
	float : left;
	width : 41%;
	height : 100%;
	z-index :3;
}

#deplacement
{
	float : left;
	vertical-align : top;
	text-align : right;
	width : 50px;
	margin-left : 5px;
}

#information
{
	height : 100%;
	width : 49%;
	float : right;
	z-index :1;
}
#information a {
	color : #444;
	text-decoration : none;
}
#information a:hover {
	color : #888;
	text-decoration : none;
}
#perso
{
	background-color: #CCC;
	overflow : auto;
	z-index : 0;
	height : 105px;
	border-bottom: 1px solid #000;
	background: transparent url('./../image/fond_perso.png') repeat-x;
}
#perso_contenu
{
	margin : 0 auto;
	width:1000px;
	padding-top : 2px;
}
#contenu_jeu {
	margin : 0 auto;
	width:1000px;
}
/***************************************************
  Header Menu
 ***************************************************/

.rose
{
	width : 50px;
	height : 50px;
	border : 0px;
	margin : 0px;
	padding : 0px;
}
.decor
{
	width : 60px;
	height : 60px;
	margin : 0;
	padding : 0;
	text-align : center;
}
.decor-edit
{
	width : 20px;
	height : 20px;
	margin : 0;
	padding : 0;
	text-align : center;
}
.infobox
{
	display : none;
	z-index : 2;
	position : absolute;
	top : 100px;
	left : 0px;
	background-color : #ffffff;
	border : 1px solid #000000;
	font-size :12px;
	width : 300px;
	padding : 5px;
}
.tabnoir
{
	background :#000;
	color : #FFF; 
}
.debug
{
	display : none;
}
.baseJumpbox
{
	width : 250px;
	height : 750px;
}
select.baseJumpbox optgroup
{
	width : 200px;
	color: black;
	background-color: #ffffff;
	margin-bottom: 3pt;
	border: 2px solid #735225;
	padding: 2px;
	margin: 5px;
	text-align : center;
}
.baseRow1
{
	background-color: #fff4cc;
	padding-left : 2px;
	text-align : left;
}
.baseRow2
{
	background-color: #ffeeaa;
	padding-left : 2px;
	text-align : left;
}
.heure {
	text-align : center;
	background-color : #D4DAE2;
	-moz-border-radius : 9px;
	-webkit-border-radius : 9px;
	border-radius: 9px;
	padding : 5px;
	border : 1px solid #FFF;
}
.inventaire2
{
width : 33%;
font-size : 0.8em;
text-align : center;
vertical-align : top;
background-image:url('../image/interface1.png');
-moz-border-radius : 9px;
-webkit-border-radius : 9px;
border-radius: 9px;
color : #222;
border : 1px solid #FFF;
}



/***************************************************
  Map
 ***************************************************/

.jsmap 
{
	text-align : left;
	display: none;
	z-index: 100;
	position: absolute;
	top: 250px;
	right: 150px;
	background-image:url('../image/interface/1.png');
	border: 1px solid #000000;
	font-size:12px;
	width: 150px;
	padding: 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	border-radius: 5px;
}
.bord_carte_haut_gauche {
	border-top : 2px solid #888;
	border-left : 2px solid #888;
	background : #D8AB41;
	-moz-border-radius-topleft : 9px;
	-webkit-border-top-left-radius : 9px;
	border-top-left-radius: 9px;
	background:transparent url('../image/royaume_icone.png') center;
}
.bord_carte_haut 
{
	text-align : center;
	border-top : 2px solid #888;
	border-bottom : 1px solid #888;
	background : #D8AB41;
}
.bord_carte_gauche {
	border-left : 2px solid #888;
	border-right : 1px solid #888;
	width : 20px;
	text-align : center;
	background : #D8AB41;
}

/***************************************************
  Ville
 ***************************************************/

ul.ville li
{
	margin-bottom : 3px;
}
ul.ville li:hover
{
	font-weight : bold;
	text-decoration : none;
	background-color : #91AEF2;
}
.ville_titre a {
	font-family: "Trebuchet MS", Times, serif;
	text-decoration : none;
	font-variant: small-caps ;
	font-size :15px;	
	color : #000;
}
.ville_test 
{
	vertical-align : top;
	color : #000;
	padding : 5px;
	font-variant: small-caps ;
	font-family: "Trebuchet MS", Times, serif;
	background-color: #BACCF7;
	font-weight : bold;
	border : 2px solid;
	border-color : #FFF;
	-moz-border-radius : 7px;
	-webkit-border-radius : 7px;
	border-radius: 7px;
}
.ville_test a 
{
	color : #222;
	font-size : 14px;	
	text-decoration : none;	
}
.ville_haut 
{
	color : #000; 
	background-image : url('../image/forum_h2.gif');
	padding : 3px;
	font-size : 1.1em;
	font-variant: small-caps ;
	font-family: "Trebuchet MS", Times, serif;
	font-weight : bold;
	text-align: center;
	height : 25px;
	margin-left : -2px;
	margin-right : -2px;
	margin-top : -2px;
}
table.marchand, table.inventaire
{
	font-size : 0.9em;
	margin : 2px;
   	text-align : center;
   	font-weight : normal;
	width : 98%;
	font-family: "Arial";
	font-variant: normal ;
}
.texte_normal 
{
	font-size : 0.9em;
	margin : 2px;
   	font-weight : normal;
	width : 100%;
	font-family: "Arial";
	font-variant: normal ;	
}
tr.header
{
	font-weight : bold;
	text-align : center;
}
tr.element td, table.marchand tr.header td
{
	padding : 3px;
}
table.inventaire tr.element td, table.inventaire tr.header td
{
	font-size : 0.9em;
}
/***************************************************
  Gestion Royaume
 ***************************************************/

#gestion-royaume
{
	vertical-align : top;
	padding : 5px;
	font-family: "Trebuchet MS", Times, serif;
	background-color: #BACCF7;
	font-weight : bold;
}

#gestion-royaume h4
{
	border-top : 1px solid;
	border-bottom : 1px solid;
	border-color : #888;
	margin-top : 3px;
	margin-bottom : 2px;
	padding-left : 15px;
	background-color: #d8ab41;
	font-family: "Trebuchet MS", Times, serif;
	font-variant: small-caps;
	font-size : 1em;
	color : black;
}
ul.gestion-royaume
{
	margin-left : 25px;
}

ul.gestion-royaume li
{
	list-style-type : disc;
	margin-bottom : 3px;
	color : #444444;
}
ul.gestion-royaume li:hover
{
	font-weight : bold;
	text-decoration : none;
	background-color : #91AEF2;
}

ul.gestion-royaume li a
{
	color : #444444;
}

/***************************************************
  Hotel des ventes
 **************************************************/

ul.onglet-hotel
{
}

ul.onglet-hotel li
{
	display : inline;
}

/***************************************************
  Element de droite
 ***************************************************/


#editcarte
{
	width : 100%;
}
.selecteur
{
	float : left;
}
.mapedit
{
	float : left;
}


/***************************************************
  Tableau
 ***************************************************/

.trcolor1
{
	background-color : #91AEF2;
}
.trcolor3
{
	font-weight : bold;
	color : #999;
	font-style : italic;
}
.trcolor5
{
	font-weight : bold;
	color : #999;
	font-style : italic;
	background-color : #FFF;
}
.trstat
{
	vertical-align : top;
	border : 2px solid;
	border-color : #555;
	-moz-border-radius : 10px;
	-webkit-border-radius : 10px;
	border-radius: 10px;
	background-color : #91AEF2;
	padding: 4px;
}
.achat {
	font-style : italic;
	font-weight : bold;			
}
.achat_over
{
	color : red;
}
.boite_royaume
{
	float : left;
	height : 60px;
	width : 60px;
}
.marque_royaume
{
	width : 55px;
	height : 55px;
}

/***************************************************
  Journal des Actions
 ***************************************************/

.coupcritique
{
	font-weight : bold;
}
.degat
{
	color : #f00;
}
.manque
{
	color : #00f;
}
.augcomp
{
	color : #ff791c;
	font-weight : bold;
}
.reward
{
	color : #B8860B;
}
.soin
{
	color : #363;
}
.jsoin
{
	color : #33CC00;
}
.jgsoin
{
	color : #009900;
}
.jbuff
{
	color : #3333FF;
}
.jgbuff
{
	color : #000099;
}
.jdebuff
{
	color : #9900CC;
}
.jdegat
{
	color : darkred;
}
.jrdegat
{
	color : red;
}
.jkill
{
	color : #666666;
}
.jmort
{
	color : #333333;
}
.jquete
{
	color : orange;
}
.jloot
{
	color : #CC33CC;
}
.small
{
	font-style : italic;
	font-size : 0.9em;
}
.xsmall
{
	font-style : italic;
	font-size : 0.8em;
}

/***************************************************
  Rose des vents
 ***************************************************/

.admin
{
	width : 600px;
}
.info_joueur
{
	color : #6633ff;
	font-weight : bold;
}
.info_monstre
{
	color : #cc3300;
	font-weight : bold;
}
.admin tr td
{
	vertical-align : top;
}
.admin tr td ul li
{
	margin : 0px;
}
.adminListing
{
	margin-top : 10px;
	margin-bottom : 10px;
	border-top : 0px;
	border-right : 0px;
}
.adminListing tr td
{
	border-top : 1px solid #8d8db3;
	border-right : 1px solid #8d8db3;
	text-align : center;
	padding-right : 5px;
}
.adminListing tr td a
{
	text-decoration : none;
}
tr.tabMonstre td
{
	border : 1px solid grey;
	text-align : center;
	padding : 2px;
}

