/* CSS Document */

 ....loading....
 
html {
height:100%;
width:100%;
}
body {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-x-system-font:none;
background:#7E909C url(../image/v2/bg_site.png) repeat-x scroll 0 0;
font-family:"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
height:100%;
line-height:normal;
margin:0;
padding:0;
width:100%;
}
#top {
display:block;
margin:0 auto;
width:1000px;
z-index:5;
}
#conteneur {
margin:auto;
min-height:100%;
width:985px;
}
#conteneur_back {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/interface/global2.png) repeat-y scroll center center;
margin:0 auto;
min-height:120%;
width:1000px;
z-index:2;
}
#bas {
clear:both;
font-size:9px;
margin:0 auto;
text-align:center;
width:1000px;
}
#centre {
float:left;
height:100%;
margin-left:7px;
margin-top:3px;
z-index:3;
}
#deplacement {
float:left;
margin-left:5px;
text-align:right;
vertical-align:top;
width:50px;
}
#information {
float:left;
height:100%;
margin-left:6px;
width:47%;
z-index:1;
}
#information fieldset {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background:transparent url(../image/v2/box_accueil2.png) repeat scroll 0 0;
margin-top:4px;
}
#information fieldset legend {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background:transparent url(../image/v2/bouton_fond.png) repeat scroll 0 0;
font-weight:bold;
padding-left:10px;
padding-right:10px;
}
#information a, .visu a {
color:#444444;
text-decoration:none;
}
#information a:hover, .visu a:hover {
color:#888888;
text-decoration:none;
}
#perso {
background-color:#C6D9F5;
margin:0;
min-height:120px;
padding:0;
}
#perso_menu {
margin-left:94px;
margin-top:-15px;
}
#perso_menu ul {
height:17px;
list-style-type:none;
margin:0;
padding:0;
position:relative;
text-align:center;
}
#perso_menu ul li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-topleft:12px;
-moz-border-radius-topright:12px;
background:transparent url(../image/v2/box_accueil2.png) repeat scroll 0 0;
border-left:1px solid #777777;
border-right:1px solid #777777;
border-top:1px solid #777777;
cursor:pointer;
font-style:italic;
margin-left:5px;
margin-right:5px;
padding-left:5px;
padding-right:5px;
width:100px;
}
#perso_menu .menu {
float:left;
}
#perso_menu .select {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/v2/bouton_selected.png) repeat-x scroll 0 0;
font-style:normal;
font-weight:bold;
}
.pos_over {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:transparent url(../image/interface/2.png) repeat scroll center center;
display:block;
height:58px !important;
width:58px !important;
}
#perso_contenu {
margin:auto;
min-height:110px;
padding:5px;
}
#contenu_jeu {
margin:0 auto;
width:100%;
}
#popup {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:12px;
-moz-border-radius-bottomright:12px;
-moz-border-radius-topleft:12px;
-moz-border-radius-topright:12px;
background:transparent url(../image/v2/box_accueil.png) repeat scroll 0 0;
color:#EEEEEE;
margin-left:130px;
position:absolute;
top:60px;
z-index:99 !important;
}
#popup a {
color:#EEEEEE;
}
#popup_menu {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/v2/bouton_fond.png) repeat-x scroll 0 0;
cursor:move;
}
#popup_content {
padding:5px;
text-align:justify;
width:98%;
}
#popup_marge {
margin:auto;
min-height:470px;
width:800px;
}
.fermer {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/interface/rouge.png) no-repeat scroll left top;
cursor:pointer !important;
display:block;
height:16px;
width:16px;
}
#mask {
background-image:url(../image/v2/overlay.png);
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
z-index:9999999;
}
#header {
background-color:#C6D9F5;
margin:0;
min-height:120px;
padding:0;
}
#header_logo {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/v2/site_haut.png) no-repeat scroll left center;
margin:auto;
min-height:120px;
width:1000px;
}
#header_logo ul {
height:20px;
list-style-type:none;
margin:0;
padding:0;
position:relative;
text-align:center;
top:101px;
}
#header_logo ul li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-topleft:12px;
-moz-border-radius-topright:12px;
background:transparent url(../image/v2/contenu_fond.png) repeat scroll 0 0;
border-left:1px solid #777777;
border-right:1px solid #777777;
border-top:1px solid #777777;
cursor:pointer;
font-style:italic;
margin-left:5px;
margin-right:5px;
padding-left:5px;
padding-right:5px;
width:100px;
}
#header_logo .menu {
float:left;
}
#header_logo .select {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/v2/bouton_selected.png) repeat-x scroll 0 0;
border-bottom:1px solid transparent;
font-style:normal;
font-weight:bold;
}
#menu {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/v2/bouton_fond.png) repeat-x scroll 0 0;
border-bottom:1px solid #888888;
border-top:1px solid #888888;
height:20px;
margin:0;
padding:0;
}
#menu a {
color:#222222;
text-decoration:none;
}
#menu_date {
float:left;
font-size:0.9em;
height:20px;
line-height:20px;
margin-left:9px;
width:91px;
}
#menu_date img {
height:15px;
padding-right:8px;
vertical-align:middle;
}
#menu_details {
float:left;
font-size:12px;
margin-top:2px;
}
#menu_details .menu {
border-left:1px solid #CCCCCC;
cursor:pointer;
display:block;
float:left;
text-align:center;
width:120px;
}
#menu_details .menu:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/v2/bouton_hover.png) no-repeat scroll left center;
padding-top:1px;
}
#menu_deco {
cursor:pointer;
float:right;
font-size:0.9em;
line-height:20px;
margin-right:9px;
}
#contenu_back {
margin:0;
overflow:auto;
padding:0;
}
#contenu {
margin:auto;
min-height:700px;
width:1000px;
}
#news {
float:left;
width:830px;
}
#mort fieldset {
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
float:left;
margin:8px;
width:46%;
}
#global {
border:1px solid red;
height:100%;
margin:0 auto;
position:relative;
width:960px;
}
.spacer {
border:medium none !important;
clear:both !important;
float:none !important;
font-size:1px !important;
height:1px !important;
line-height:1px !important;
margin:0 0 -1px !important;
padding:0 !important;
visibility:hidden !important;
}
#menu_jeu {
float:left;
margin:0 -5px 0 0;
width:32px;
}
#infos_perso {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/fond_infoperso.png) repeat scroll center center;
float:left;
height:100px;
position:relative;
width:325px;
}
#joueur_PA {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:green none repeat scroll 0 0;
color:white;
font-size:8pt;
left:105px;
position:absolute;
text-align:center;
top:46px;
width:125px;
}
#joueur_HP {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/barre/hp9.png) no-repeat scroll center center;
color:white;
font-size:8pt;
left:105px;
position:absolute;
text-align:center;
top:10px;
width:125px;
}
#joueur_MP {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:blue none repeat scroll 0 0;
color:white;
font-size:8pt;
left:105px;
position:absolute;
text-align:center;
top:28px;
width:125px;
}
#joueur_XP {
height:100px;
left:0;
position:absolute;
top:0;
width:100px;
}
#joueur_PO {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/starsv2.png) no-repeat scroll left center;
font-size:8pt;
height:24px;
left:235px;
line-height:24px;
padding:0 0 0 24px;
position:absolute;
text-align:center;
top:10px;
width:50px;
}
#joueur_PH {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/honneur.png) no-repeat scroll left center;
font-size:8pt;
height:24px;
left:235px;
line-height:24px;
padding:0 0 0 24px;
position:absolute;
text-align:center;
top:38px;
width:50px;
}
#joueur_Psso {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/pointshine.png) no-repeat scroll left center;
cursor:pointer;
height:16px;
left:85px;
position:absolute;
top:0;
width:16px;
}
#joueur_LV {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/LV.png) no-repeat scroll left center;
font-size:8pt;
font-weight:bold;
height:24px;
line-height:24px;
text-align:center;
width:24px;
}
#joueur_onglets {
left:88px;
padding:0 0 0 10px;
position:absolute;
top:65px;
width:225px;
}
#joueur_onglets_index, #joueur_onglets_forums, #joueur_onglets_options, #joueur_onglets_exit {
float:left;
font-size:0.9em;
padding-left:5px;
text-align:left;
width:250px;
}
#joueur_onglets_forums img {
height:15px;
}
#joueur_buffs_nom {
float:left;
height:100px;
margin-left:11px;
margin-top:-3px;
position:relative;
width:283px;
}
#joueur_nom {
cursor:pointer;
margin-left:55px;
margin-top:10px;
position:relative;
text-align:center;
width:210px;
}
#joueur_type {
float:left;
font-size:8pt;
height:12px;
position:relative;
text-align:left;
width:210px;
}
#buff_list {
margin-left:60px;
position:relative;
text-align:center;
width:210px;
}
#debuff_list {
margin-left:60px;
position:relative;
text-align:center;
width:210px;
}
.joueur_groupe_activitenoir, .joueur_groupe_activiterouge, .joueur_groupe_activitebleu, .joueur_groupe_activitevert {
float:left;
height:11px;
margin:2px;
width:11px;
}
.joueur_groupe_activitenoir {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/groupes/noir.png) repeat scroll center center;
}
.joueur_groupe_activiterouge {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/groupes/rouge.png) repeat scroll center center;
}
.joueur_groupe_activitebleu {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/groupes/bleu.png) repeat scroll center center;
}
.joueur_groupe_activitevert {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/groupes/vert.png) repeat scroll center center;
}
#buff_list ul {
float:left;
list-style-type:none;
text-align:center;
width:210px;
}
.buff {
cursor:pointer;
float:left;
height:19px;
margin:0 2px;
padding:0;
position:relative;
}
.buff_dispo {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/buff/buff.png) no-repeat scroll center top;
float:left;
height:19px;
margin:0 2px;
padding:0;
position:relative;
width:16px;
}
.buff_nondispo {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/buff/nobuff.png) no-repeat scroll center top;
float:left;
height:19px;
margin:0 2px;
padding:0;
position:relative;
width:16px;
}
.buff_duree_restante {
bottom:0;
left:0;
position:absolute;
}
#joueur_groupe {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/fond_groupe.png) repeat scroll center center;
float:left;
height:83px;
margin-left:30px;
margin-top:4px;
width:300px;
}
#joueur_groupe_bouton {
float:left;
width:50px;
}
#joueur_groupe ul {
float:left;
width:250px;
}
#mail_groupe {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/message.png) no-repeat scroll center center;
cursor:pointer;
height:32px;
width:32px;
}
#info_groupe {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/interface/information.png) repeat scroll center center;
cursor:pointer;
height:21px;
width:21px;
}
#info_groupe:hover {
background-position:center top;
}
#info_groupe:active {
background-position:center bottom;
}
#joueur_groupe li {
border-bottom:1px dotted #8B94B0;
cursor:pointer;
font-size:8pt;
padding:0 0 2px;
}
.joueur_groupe_pseudo {
float:left;
line-height:16px;
width:125px;
}
.joueur_groupe_barre_hp {
float:left;
height:6px;
margin:0;
width:102px;
}
.joueur_groupe_barre_mp {
float:left;
height:6px;
margin:1px 0 0;
width:102px;
}
#rosedesvents {
height:75px;
left:13px;
position:absolute;
top:13px;
width:75px;
z-index:1;
}
#rose_div_hg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/nordouest.png) repeat scroll center center;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_hg:hover {
background-position:center top;
}
#rose_div_hg:active {
background-position:center bottom;
}
#rose_div_h {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/nord.png) repeat scroll center center;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_h:hover {
background-position:center top;
}
#rose_div_h:active {
background-position:center bottom;
}
#rose_div_hd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/nordest.png) repeat scroll center center;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_hd:hover {
background-position:center top;
}
#rose_div_hd:active {
background-position:center bottom;
}
#rose_div_cg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/ouest.png) repeat scroll center center;
clear:both;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_cg:hover {
background-position:center top;
}
#rose_div_cg:active {
background-position:center bottom;
}
#rose_div_c {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/rafraichir.png) repeat scroll center center;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_c:hover {
background-position:center top;
}
#rose_div_c:active {
background-position:center bottom;
}
#rose_div_cd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/est.png) repeat scroll center center;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_cd:hover {
background-position:center top;
}
#rose_div_cd:active {
background-position:center bottom;
}
#rose_div_bg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/sudouest.png) repeat scroll center center;
clear:both;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_bg:hover {
background-position:center top;
}
#rose_div_bg:active {
background-position:center bottom;
}
#rose_div_b {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/sud.png) repeat scroll center center;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_b:hover {
background-position:center top;
}
#rose_div_b:active {
background-position:center bottom;
}
#rose_div_bd {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/rosedesvent/sudest.png) repeat scroll center center;
cursor:pointer;
float:left;
height:25px;
width:25px;
}
#rose_div_bd:hover {
background-position:center top;
}
#rose_div_bd:active {
background-position:center bottom;
}
.overlib {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:transparent url(../image/interface/1.png) repeat scroll center center;
border:1px solid #000000;
min-width:250px;
}
.overlib ul {
clear:both;
position:relative;
}
.overlib_titres {
color:black;
font-weight:bold;
text-align:center;
}
.overlib_batiments span {
color:black;
font-weight:bold;
}
.overlib_joueurs span {
color:#6633FF;
font-weight:bold;
}
.overlib_monstres span {
color:#CC3300;
font-weight:bold;
}
.overlib_infos {
clear:both;
color:black;
font-size:7pt;
font-style:italic;
margin-top:10px;
text-align:center;
}
.overlib_img_objet {
background-position:center center;
background-repeat:no-repeat;
height:55px;
left:-5px;
position:absolute;
top:-2px;
width:50px;
}
.overlib_nom_objet {
float:right;
font-style:italic;
width:200px;
}
.overlib_desc_objet {
float:right;
width:200px;
}
.overlib_desc_objet span {
float:left;
width:75px;
}
#carte {
clear:both;
float:left;
height:100%;
margin:0;
width:445px;
z-index:500;
}
#carte fieldset {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background:transparent url(../image/v2/box_accueil2.png) repeat scroll 0 0;
margin-top:4px;
}
#carte fieldset legend {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background:transparent url(../image/v2/bouton_fond.png) repeat scroll 0 0;
font-weight:bold;
padding-left:10px;
padding-right:10px;
}
#carte a, .visu a {
color:#444444;
text-decoration:none;
}
#carte a:hover, .visu a:hover {
color:#888888;
text-decoration:none;
}
#carte ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#map_bord_haut {
cursor:default;
height:20px !important;
padding-bottom:0;
}
#map_bord_haut li {
color:white;
float:left;
height:inherit;
line-height:20px;
text-align:center;
width:60px;
}
#map_bord_haut2 li {
color:white;
float:left;
height:inherit;
line-height:20px;
text-align:center;
width:60px;
}
#map_bord_haut_gauche {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/icone/royaume_icone.png) no-repeat scroll center center !important;
cursor:pointer;
height:inherit;
width:20px !important;
}
#map_bord_haut_gauche2 {
height:inherit;
width:25px !important;
}
#map_bord_haut_gauche:hover {
background-position:center top;
}
#map_bord_haut_gauche:active {
background-position:center bottom;
}
#bord_haut_x {
color:black !important;
font-weight:bold;
}
#bord_haut_y {
color:black !important;
font-weight:bold;
}
.div_map {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background:transparent url(../image/v2/map.png) repeat-x scroll 0 0;
height:445px;
}
.map {
height:60px;
padding-bottom:0;
}
.mapl {
height:20px;
padding-bottom:0;
}
.map li, .mapl li {
cursor:pointer;
float:left;
height:inherit;
width:60px;
}
.map_bord_gauche {
color:white;
cursor:default !important;
line-height:60px;
padding-bottom:0;
text-align:center;
width:20px !important;
}
.map_bord_gauche2 {
color:white;
line-height:60px;
padding-bottom:0;
text-align:center;
width:20px !important;
}
.map_contenu {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(image/pixel.gif) no-repeat scroll center center;
height:56px;
margin:2px;
width:56px;
}
.low_resolution {
font-size:0.8em;
height:20px !important;
line-height:20px !important;
width:20px !important;
}
#moment_jour {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(image/weather/matin5.jpg) no-repeat scroll center bottom;
height:140px;
left:0;
position:absolute;
top:0;
width:960px;
z-index:-1;
}
.ville_message {
text-align:center;
width:100%;
}
.message_rouge {
color:red;
font-weight:bold;
}
.message_vert {
color:green;
font-weight:bold;
}
.quartier {
float:left;
margin:2px;
padding:2px;
width:200px;
}
#hotel_liste_type ul {
width:100%;
}
#hotel_liste_type li {
cursor:pointer;
display:inline;
font-size:0.9em;
}
#hotel_liste {
font-variant:normal;
text-align:left;
width:100%;
}
#hotel_liste .li1 {
cursor:default;
float:left;
font-weight:normal;
line-height:14pt;
text-align:center !important;
}
#hotel_liste .li2 {
background-color:#ADC2F5;
cursor:default;
float:left;
font-weight:normal;
line-height:14pt;
text-align:center !important;
}
#hotel_liste .entete {
background-image:none !important;
cursor:pointer;
font-size:10pt !important;
font-weight:bold;
}
#hotel_liste .nom {
clear:both;
float:left;
text-align:left !important;
width:165px;
}
#hotel_liste .temps {
float:left;
font-size:7.5pt;
text-align:right !important;
width:75px;
}
#hotel_liste .prix {
background-image:url(../image/stars_16.png);
background-position:right center;
background-repeat:no-repeat;
float:left;
padding-right:18px;
text-align:right !important;
width:75px;
}
#hotel_liste .achat {
cursor:pointer;
float:left;
text-align:right !important;
width:60px;
}
#hotel_liste .achat:hover {
color:#63A4EB;
}
#hotel_liste .achat:active {
color:#A062EC;
}
.slot {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/groupes/vert.png) no-repeat scroll left center;
color:black;
float:right;
font-size:6pt;
height:16px;
line-height:15px;
margin-top:0;
text-align:center;
width:11px;
}
.noslot {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/groupes/noir.png) no-repeat scroll left center;
float:right;
height:16px;
margin-top:0;
width:11px;
}
.enchantement {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/groupes/bleu.png) no-repeat scroll left center;
float:right;
height:16px;
margin-top:0;
width:11px;
}
#loading {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
background:#E7CF98 url(./../image/ajax-loader-bar.gif) no-repeat scroll left center;
height:25px;
margin-left:393px;
position:absolute;
top:0;
width:220px;
z-index:1;
}
#messagerie_menu {
text-align:center;
}
#messagerie_menu span {
cursor:pointer !important;
margin:2px;
padding:2px;
}
.message_prev {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/interface/previous_20.png) no-repeat scroll center top;
display:block;
float:left;
height:20px;
width:20px;
}
.message_prev:hover {
background-position:center bottom !important;
}
.message_next {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/interface/next_20.png) no-repeat scroll center top;
display:block;
float:right;
height:20px;
width:20px;
}
.message_next:hover {
background-position:center bottom !important;
}
.bulle_message {
-moz-border-image:url(./../image/interface/bulle_message.png) 20 8 20 8;
border-width:20px 8px;
float:left;
margin-top:-3px;
min-height:25px;
width:430px;
}
.bulle_message_me {
-moz-border-image:url(./../image/interface/bulle_message_me.png) 16 8 8 8;
border-width:16px 8px 8px;
}
.bulle_message_new {
-moz-border-image:url(./../image/interface/bulle_message_new.png) 20 8 20 8;
border-width:20px 8px;
float:left;
margin-top:-3px;
min-height:25px;
width:430px;
}
.haut_bulle_gauche {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/interface/bulle_message_haut.png) no-repeat scroll center top;
display:block;
float:left;
height:16px;
margin-left:21px;
margin-right:7px;
margin-top:9px;
width:21px;
}
.haut_bulle_droite {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/interface/bulle_message_haut_droite.png) no-repeat scroll center top;
display:block;
float:right;
height:16px;
margin-left:7px;
margin-right:21px;
margin-top:9px;
width:21px;
}
.pages {
line-height:19px;
margin-left:185px;
text-align:center;
}
.pagination {
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background-color:#EEEEEE;
}
#conteneur_test {
cursor:wait;
height:100%;
position:absolute;
width:100%;
z-index:99999;
}
.infoperso {
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background-color:#91AEF2;
border:1px solid #555555;
float:left;
height:75px;
margin:2px;
padding:2px;
vertical-align:top;
}
#info_case ul li {
height:20px;
}
#info_case ul li:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/v2/box_accueil2.png) repeat scroll 0 0;
}
#info_case h4 {
border-bottom:1px solid #E7CF98;
clear:both;
margin:3px;
padding:0;
}
#info_case h3 {
text-align:center;
}
#info_case .titre_info {
-moz-border-radius-topright:10px;
background-color:#E7CF98;
clear:both;
font-variant:normal;
font-weight:normal;
margin-bottom:0;
margin-top:0;
padding:0 10px;
}
#diplo {
background-color:#CCCCCC;
}
#diplo ul li {
clear:both;
}
#diplo ul li span {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
display:block;
float:left;
height:50px;
width:50px;
}
.diplo_0 {
}
.diplo_1 {
}
.diplo_2 {
}
.diplo_3 {
}
.diplo_4 {
}
.diplo_5 {
}
.diplo_6 {
}
.diplo_7 {
}
.diplo_8 {
}
.diplo_9 {
}
.diplo_10 {
}
textarea#css, textarea#description {
height:150px;
width:500px;
}
#inventaire_slot {
-moz-border-radius-bottomleft:9px;
-moz-border-radius-bottomright:9px;
-moz-border-radius-topleft:9px;
-moz-border-radius-topright:9px;
background-image:url(../image/interface/1.png);
border:1px solid #FFFFFF;
color:#222222;
font-size:11px;
}
#inventaire_slot ul li {
clear:both;
height:20px;
padding:2px;
}
#inventaire_slot .inventaire_span {
display:block;
float:left;
}
.mort {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/interface/mort.png) no-repeat scroll left center;
padding-left:20px;
text-decoration:line-through;
}
#bestiaire {
clear:both;
}
#bestiaire ul li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:15px;
-moz-border-radius-bottomright:15px;
-moz-border-radius-topleft:15px;
-moz-border-radius-topright:15px;
background:transparent url(../image/v2/box_accueil2.png) repeat scroll 0 0;
height:41px;
line-height:35px;
margin:1px;
text-align:center;
}
#bestiaire ul li:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/interface/1.png) repeat scroll center center;
}
#bestiaire ul li span {
display:block;
float:left;
height:40px;
margin:1px;
}
#bestiaire ul li img {
height:30px;
}
#messagerie_onglet a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background:#EEE3B5 none repeat scroll 0 0;
border:1px solid #CCCCCC;
display:block;
float:left;
height:20px;
line-height:20px;
padding-left:3px;
text-indent:5px;
width:80px;
}
#messagerie_onglet a:hover {
background-color:#E6CD93;
}
#messagerie_liste {
}
#messagerie_liste ul li {
cursor:pointer;
float:left;
}
#messagerie_liste .head {
border-bottom:1px dashed #EEEEEE;
}
#messagerie_liste .head:hover {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent none repeat scroll 0 0 !important;
cursor:default !important;
}
#messagerie_liste ul li:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:transparent url(../image/interface/1.png) repeat scroll center center;
}
#messagerie_liste .t1 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:#B4CFEF none repeat scroll 0 0;
}
#messagerie_liste .titre {
display:block;
float:left;
padding-left:10px;
width:190px;
}
#messagerie_liste .msg {
display:block;
float:left;
padding-right:10px;
text-align:right;
width:35px;
}
#messagerie_liste .par {
display:block;
float:left;
width:100px;
}
#messagerie_liste .date {
display:block;
float:left;
width:90px;
}
#combat_cartouche {
-moz-border-radius-bottomleft:12px;
-moz-border-radius-bottomright:12px;
-moz-border-radius-topleft:12px;
-moz-border-radius-topright:12px;
background-color:#DDDDDD;
clear:both;
min-height:70px;
padding:9px;
}
.infoperso td {
font-size:10px;
margin:0;
padding:0;
}
.roseeticone {
float:left;
margin:5px;
padding:4px;
}
#carte h4 {
border-bottom:1px solid #E7CF98;
clear:both;
margin:3px;
padding:0;
}
#carte .titre_info {
-moz-border-radius-topright:10px;
background-color:#E7CF98;
clear:both;
font-variant:normal;
font-weight:normal;
margin-bottom:0;
margin-top:0;
padding:0 10px;
}
#carte h2 {
background-color:#D8AB41;
border-bottom:1px solid #888888;
border-color:#888888;
border-top:1px solid #888888;
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:1.4em;
font-variant:small-caps;
line-height:25px;
margin-bottom:8px;
margin-top:5px;
padding:0;
text-align:center;
}
#information h2 {
background-color:#D8AB41;
border-bottom:1px solid #888888;
border-color:#888888;
border-top:1px solid #888888;
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:1.4em;
font-variant:small-caps;
line-height:25px;
margin-bottom:8px;
margin-top:5px;
padding:0;
text-align:center;
}
h3.old {
background-color:#91AEF2;
border-bottom:1px solid #888888;
border-color:#888888;
border-top:1px solid #888888;
font-family:"Trebuchet MS",Times,serif;
font-variant:small-caps;
margin-bottom:5px;
margin-top:10px;
padding-left:10px;
}
div.message_complet {
clear:both;
width:100%;
}
div.message_action {
float:right;
font-size:0.8em;
}
div.spacer {
clear:both;
}
.messagerie {
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background-color:#E7CF98;
float:left;
font-variant:normal;
font-weight:normal;
margin-bottom:0;
margin-top:0;
padding:0 6px 3px;
}
.fav_on {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/messagerie_fav_on.png) no-repeat scroll left center;
display:block;
float:left;
height:14px;
width:16px;
}
.fav_off {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/messagerie_fav_off.png) no-repeat scroll left center;
display:block;
float:left;
height:14px;
width:16px;
}
.del {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/messagerie_del.png) no-repeat scroll center top;
display:block;
height:16px;
width:16px;
}
.del:hover {
background-position:center bottom !important;
}
.msg_cache {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/messagerie_cacher.png) no-repeat scroll center top;
display:block;
float:left;
height:16px;
width:16px;
}
.msg_voir {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(./../image/messagerie_voir.png) no-repeat scroll center top;
display:block;
float:left;
height:16px;
width:16px;
}
h3.messagerie span.auteur {
display:block;
font-size:11px;
font-weight:bold;
left:0;
position:absolute;
text-align:center;
text-transform:capitalize;
width:114px;
}
h3.messagerie span.titre {
color:#828387;
font-weight:normal;
left:114px;
position:absolute;
}
.messagerie span.date {
font-size:0.7em;
font-style:italic;
}
h4 {
margin:0;
padding:0;
}
h5 {
background-color:#DF3F00;
border-bottom:1px solid #888888;
border-color:#888888;
border-top:1px solid #888888;
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:1em;
font-variant:small-caps;
margin:0;
padding-left:10px;
}
h6 {
background-color:#6EB027;
border-bottom:1px solid #888888;
border-color:#888888;
border-top:1px solid #888888;
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:1em;
font-variant:small-caps;
margin:0;
padding-left:10px;
}
img {
border:0 none;
margin:0;
padding:0;
}
dl, dt, dd, ul, li {
list-style-type:none;
margin:0;
padding:0;
}
ol.tuto, ol.tuto li {
list-style-type:decimal;
}
.rose_a {
cursor:pointer;
font-size:0;
margin:0;
padding:0;
width:0;
}
.rose_a:hover {
cursor:pointer;
font-size:0;
margin:0;
padding:0;
}
.rose_tr {
font-size:0;
height:20px;
margin:0;
padding:0;
}
.rose_tr td {
font-size:0;
margin:0;
padding:0;
}
.rose_div {
height:25px;
}
.brillant {
background-image:url(../image/forum_h2.gif);
height:23px;
padding-top:8px;
text-align:center;
}
.information_case {
-moz-border-radius-bottomleft:13px;
-moz-border-radius-bottomright:13px;
-moz-border-radius-topleft:13px;
-moz-border-radius-topright:13px;
background-color:#BACCF7;
border:2px solid #FFFFFF;
font-family:"Trebuchet MS",Times,serif;
margin:9px;
padding:8px;
}
.information_case h4 {
background-color:#D8AB41;
border-bottom:1px solid #888888;
border-color:#888888;
border-top:1px solid #888888;
margin:0 auto 10px;
text-align:center;
width:30%;
}
.avatar {
float:right;
}
.jsinformation_case {
background-color:#FFFFFF;
border:1px solid #000000;
display:none;
font-size:12px;
padding:5px;
position:absolute;
right:150px;
top:250px;
width:250px;
z-index:100;
}
.combat {
border-left:2px solid #999999;
font-size:12px;
margin:2px 2px 2px 10px;
padding:2px;
}
.combat:hover {
background-image:url(../image/interface/1.png);
}
.echange {
-moz-border-radius-bottomleft:13px;
-moz-border-radius-bottomright:13px;
-moz-border-radius-topleft:13px;
-moz-border-radius-topright:13px;
background-color:#BACCF7;
border:2px solid #FFFFFF;
font-family:"Trebuchet MS",Times,serif;
margin:2px;
padding:2px;
}
#liste_quete {
background-color:#91AEF2;
border-color:#FFFFFF;
border-left:2px solid #FFFFFF;
height:300px;
margin:0 auto;
overflow:auto;
padding-bottom:10px;
padding-left:9px;
width:95%;
}
.quete_description {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
background:#BACCF7 none repeat scroll 0 0;
border:2px solid #FFFFFF;
color:#333333;
font-family:"Trebuchet MS",Times,serif;
height:315px;
padding:5px;
}
.description_quete {
height:280px;
overflow:auto;
}
.inventaire {
background-color:#D4DAE2;
margin:9px;
}
#carte h2 {
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:15px;
font-variant:small-caps;
text-decoration:none;
}
#carte h2 a {
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:15px;
font-variant:small-caps;
text-decoration:none;
}
.carte_bas {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#000000 none repeat scroll 0 0;
height:5px;
}
#deplacement h4 {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#D4DAE2;
border:1px solid #888888;
font-family:"Trebuchet MS",Times,serif;
margin-bottom:5px;
text-align:center;
}
.rose {
border:0 none;
height:50px;
margin:0;
padding:0;
width:50px;
}
.decor {
height:60px;
margin:0;
padding:0;
text-align:center;
width:60px;
}
.decor-edit {
height:20px;
margin:0;
padding:0;
text-align:center;
width:20px;
}
.infobox {
background-color:#FFFFFF;
border:1px solid #000000;
display:none;
font-size:12px;
left:0;
padding:5px;
position:absolute;
top:100px;
width:300px;
z-index:2;
}
.tabnoir {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/bord_map.png) repeat scroll 0 0;
color:#FFFFFF;
}
.debug {
display:none;
}
.baseJumpbox {
height:500px;
width:250px;
}
select.baseJumpbox optgroup {
background-color:#FFFFFF;
border:2px solid #735225;
color:black;
margin:5px;
padding:2px;
width:200px;
}
.baseRow1 {
background-color:#FFF4CC;
padding-left:2px;
}
.baseRow2 {
background-color:#FFEEAA;
padding-left:2px;
}
.heure {
-moz-border-radius-bottomleft:9px;
-moz-border-radius-bottomright:9px;
-moz-border-radius-topleft:9px;
-moz-border-radius-topright:9px;
background-color:#D4DAE2;
border:1px solid #FFFFFF;
padding:5px;
text-align:center;
}
.inventaire2 {
-moz-border-radius-bottomleft:9px;
-moz-border-radius-bottomright:9px;
-moz-border-radius-topleft:9px;
-moz-border-radius-topright:9px;
background-image:url(../image/interface/1.png);
border:1px solid #FFFFFF;
color:#222222;
font-size:0.8em;
text-align:center;
vertical-align:top;
width:33%;
}
.jsmap {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-image:url(../image/interface/1.png);
border:1px solid #000000;
display:none;
font-size:12px;
padding:5px;
position:absolute;
right:150px;
text-align:left;
top:250px;
width:150px;
z-index:100;
}
.bord_carte_haut_gauche {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-topleft:9px;
background:transparent url(../image/royaume_icone.png) repeat scroll center center;
border-left:2px solid #888888;
border-top:2px solid #888888;
}
.bord_carte_haut {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D8AB41 none repeat scroll 0 0;
border-bottom:1px solid #888888;
border-top:2px solid #888888;
text-align:center;
}
.bord_carte_gauche {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#D8AB41 none repeat scroll 0 0;
border-left:2px solid #888888;
border-right:1px solid #888888;
text-align:center;
width:20px;
}
ul.ville li {
margin-bottom:3px;
}
ul.ville li:hover {
background-color:#91AEF2;
font-weight:bold;
text-decoration:none;
}
.ville_titre a {
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:15px;
font-variant:small-caps;
text-decoration:none;
}
.ville_test {
color:#000000;
padding:5px;
vertical-align:top;
}
.ville_test a {
color:#222222;
font-size:14px;
text-decoration:none;
}
.ville_haut {
background-image:url(../image/forum_h2.gif);
color:#000000;
font-family:"Trebuchet MS",Times,serif;
font-size:1.1em;
font-variant:small-caps;
font-weight:bold;
height:25px;
margin-left:-2px;
margin-right:-2px;
margin-top:-2px;
padding:3px;
text-align:center;
}
table.marchand, table.inventaire {
font-family:Arial;
font-size:0.9em;
font-variant:normal;
font-weight:normal;
margin:2px;
text-align:center;
width:98%;
}
.texte_normal {
font-family:Arial;
font-size:0.9em;
font-variant:normal;
font-weight:normal;
margin:2px;
width:100%;
}
tr.header {
font-weight:bold;
text-align:center;
}
tr.element td, table.marchand tr.header td {
padding:3px;
}
table.inventaire tr.element td, table.inventaire tr.header td {
font-size:0.9em;
}
#boutique {
font-size:9pt;
text-align:center;
}
#boutique li {
clear:both;
height:25px;
line-height:25px;
}
#boutique li:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:transparent url(../image/interface/1.png) repeat scroll center center;
}
#boutique .head {
border-bottom:1px dashed #EEEEEE;
font-size:7pt;
font-weight:bold;
}
#boutique .head:hover {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent none repeat scroll 0 0 !important;
cursor:default !important;
}
#boutique .image {
float:left;
height:26px;
width:9%;
}
#boutique .nom {
float:left;
width:35%;
}
#boutique .type {
float:left;
width:9%;
}
#boutique .mains {
float:left;
width:9%;
}
#boutique .degats {
float:left;
width:9%;
}
#boutique .coef {
float:left;
width:9%;
}
#boutique .coef_type {
float:left;
width:9%;
}
#boutique .stars {
float:left;
width:10%;
}
#boutique .achat {
float:left;
width:9%;
}
#boutique .pp {
float:left;
width:10%;
}
#boutique .pm {
float:left;
width:9%;
}
#boutique .force {
float:left;
width:9%;
}
#boutique .nom_hotel {
float:left;
width:44%;
}
#boutique .time {
float:left;
width:35%;
}
#boutique .prix_hotel {
float:left;
width:10%;
}
.ville_mortvivant {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/fondmv1.jpg) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_barbare {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villebarbarebiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_elfebois {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villeEDBbiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_elfehaut {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villeHEbiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_humain {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villehumainbiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_humainnoir {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villecorrbiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_nain {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villenainbiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_orc {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villeorcbiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_scavenger {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villescavbiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_troll {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villetrollbiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.ville_vampire {
-moz-background-clip:border !important;
-moz-background-inline-policy:continuous !important;
-moz-background-origin:padding !important;
background:transparent url(../image/ville/villevampirebiseau.png) repeat scroll center center !important;
height:397px;
width:419px;
}
.quartier_marchand {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/ville/cadrebiseauQM.png) repeat scroll center center;
float:left;
height:121px;
margin-left:16px;
margin-top:35px;
padding:6px;
width:138px;
}
.quartier_marchand_titre {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/ville/cadretitreQM.png) repeat scroll center top;
display:block;
font-family:"Trebuchet MS",Times,serif;
font-size:14px;
font-variant:small-caps;
font-weight:bold;
height:34px;
line-height:32px;
margin-left:-4px;
margin-top:-2px;
text-indent:15px;
width:148px;
color:#463300;
}
.quartier_marchand li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
background:#bfccdd none repeat scroll 0 0;
border:1px solid #8d7845;
cursor:pointer;
font-size:11px;
height:14px;
margin:2px;
text-align:center;
color:#3a3a4f;
}
.quartier_marchand li:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
}
.quartier_royal {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/ville/cadrebiseauQR.png) repeat scroll center center;
float:left;
height:138px;
margin-left:93px;
margin-top:19px;
padding:6px;
width:132px;
}
.quartier_royal_titre {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/ville/cadretitreQR.png) repeat scroll center top;
display:block;
font-family:"Trebuchet MS",Times,serif;
font-size:14px;
font-variant:small-caps;
font-weight:bold;
height:34px;
line-height:32px;
margin-left:0;
margin-top:-2px;
text-indent:17px;
width:134px;
color:#463300;
}
.quartier_royal li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
background:#bfccdd none repeat scroll 0 0;
border:1px solid #8d7845;
cursor:pointer;
font-size:11px;
height:14px;
margin:2px;
text-align:center;
color:#3a3a4f;
}
.quartier_royal li:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
}
.quartier_haut {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/ville/cadrebiseauHQ.png) repeat scroll center center;
float:left;
height:107px;
margin-left:23px;
margin-top:59px;
padding:6px;
width:116px;
}
.quartier_haut_titre {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/ville/cadretitreHQ.png) repeat scroll center top;
display:block;
font-family:"Trebuchet MS",Times,serif;
font-size:14px;
font-variant:small-caps;
font-weight:bold;
height:34px;
line-height:35px;
margin-left:0;
margin-top:-3px;
text-indent:13px;
width:116px;
color:#463300;
}
.quartier_haut li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
background:#bfccdd none repeat scroll 0 0;
border:1px solid #8d7845;
cursor:pointer;
font-size:11px;
height:14px;
margin:2px;
text-align:center;
color:#3a3a4f;
}
.quartier_haut li:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
}
.quartier_bas {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/ville/cadrebiseauBQ.png) repeat scroll center center;
float:left;
height:107px;
margin-left:103px;
margin-top:62px;
padding:6px;
width:132px;
}
.quartier_bas_titre {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../image/ville/cadretitreBQ.png) repeat scroll center top;
display:block;
font-family:"Trebuchet MS",Times,serif;
font-size:14px;
font-variant:small-caps;
font-weight:bold;
height:34px;
line-height:38px;
margin-left:12px;
margin-top:-4px;
text-indent:13px;
width:106px;
color: #463300;
}
.quartier_bas li {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
background:#bfccdd none repeat scroll 0 0;
border:1px solid #8d7845;
cursor:pointer;
font-size:11px;
height:14px;
margin:2px;
text-align:center;
color: #3a3a4f;
}
.quartier_bas li:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF none repeat scroll 0 0;
}
.trcolor2 {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-color:#B4CFEF;
}
#gestion-royaume {
background-color:#BACCF7;
font-family:"Trebuchet MS",Times,serif;
font-weight:bold;
padding:5px;
vertical-align:top;
}
#gestion-royaume h4 {
background-color:#D8AB41;
border-bottom:1px solid #888888;
border-color:#888888;
border-top:1px solid #888888;
color:black;
font-family:"Trebuchet MS",Times,serif;
font-size:1em;
font-variant:small-caps;
margin-bottom:2px;
margin-top:3px;
padding-left:15px;
}
ul.gestion-royaume {
margin-left:25px;
}
ul.gestion-royaume li {
color:#444444;
list-style-type:disc;
margin-bottom:3px;
}
ul.gestion-royaume li:hover {
background-color:#91AEF2;
font-weight:bold;
text-decoration:none;
}
ul.gestion-royaume li a {
color:#444444;
}
ul.onglet-hotel {
}
ul.onglet-hotel li {
display:inline;
}
#editcarte {
width:100%;
}
.selecteur {
float:left;
}
.mapedit {
float:left;
}
.trcolor3 {
color:#999999;
font-style:italic;
font-weight:bold;
}
.trcolor5 {
background-color:#FFFFFF;
color:#999999;
font-style:italic;
font-weight:bold;
}
.trstat {
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background-color:#91AEF2;
border:2px solid #555555;
padding:4px;
vertical-align:top;
}
.achat_over {
color:red;
}
.boite_royaume {
float:left;
height:60px;
width:60px;
}
.marque_royaume {
height:55px;
width:55px;
}
.coupcritique {
font-weight:bold;
}
.degat {
color:#FF0000;
}
.manque {
color:#0000FF;
}
.augcomp {
color:#FF791C;
font-weight:bold;
}
.reward {
color:#B8860B;
}
.soin {
color:#336633;
}
.jsoin {
color:#33CC00;
}
.jgsoin {
color:#009900;
}
.jbuff {
color:#3333FF;
}
.jgbuff {
color:#000099;
}
.jdebuff {
color:#9900CC;
}
.jdegat {
color:darkred;
}
.jrdegat {
color:red;
}
.jkill {
color:#666666;
}
.jmort {
color:#333333;
}
.jquete {
color:orange;
}
.jloot {
color:#CC33CC;
}
.small {
font-size:0.9em;
font-style:italic;
}
.xsmall {
font-size:0.8em;
font-style:italic;
}
.admin {
width:600px;
}
.info_joueur {
color:#6633FF;
font-weight:bold;
}
.info_monstre {
color:#CC3300;
font-weight:bold;
}
.admin tr td {
vertical-align:top;
}
.admin tr td ul li {
margin:0;
}
.adminListing {
border-right:0 none;
border-top:0 none;
margin-bottom:10px;
margin-top:10px;
}
.adminListing tr td {
border-right:1px solid #8D8DB3;
border-top:1px solid #8D8DB3;
padding-right:5px;
text-align:center;
}
.adminListing tr td a {
text-decoration:none;
}
tr.tabMonstre td {
border:1px solid grey;
padding:2px;
text-align:center;
}
.msgbar {
width:50px;
}
