/* Thème StarSky - nuit */
body
{
	background:url(../image/interface/mocha-bleu.png);
}

a:hover, a:focus
{
  color: #EC971F;
}

#barre_menu
{
	/*background: rgba(15, 5, 107, 0.5);*/
	background: url('../image/v2/bouton_fond.png') repeat-x;
	background-size: 100% 40px;
	border-color: #0F056B;
}

#barre_menu a
{
	/*color: white;*/
	color: #22427C;
}

#navbar>ul>li>a:hover, #navbar>ul>li>a:focus, #navbar>ul>li>a:active
{
	/*color: #E7CF98;*/
	/*#menu_details .menu:hover { background:transparent url(../image/v2/bouton_hover.png) no-repeat left; padding-top:1px; }*/
	color: #2F2F4F!important;
	background: url(../image/v2/bouton_hover.png);
	background-size: 100% 40px;
}

#barre_menu .dropdown-menu > li > a
{
	/*color: #333;*/
	color: #22427C;
}

#barre_menu .dropdown-menu > li > a
{
	color: #262626;
}

/* ----  en-tête -------*/

#perso, #royaume
{
	background-color:rgba(255, 255, 255, 0.3);
	border-color: rgba(15, 5, 107, 0.5);
}

#infos_perso, #infos_vie, #infos_royaume, #ressources
{
  background-color:rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(15, 5, 107, 0.3);
}

#infos_vie
{
	width: 150px;
	left: 11px;
}

#nom_perso
{
	margin: 2px 0;
	left: 0;
	height: 32px;
	width: 150px;
	white-space: normal;
}

#infos_perso
{
	left: 175px;
	margin:0;
	width: 260px;
	background-position: 5px 4px;
}

#perso_ph
{
	left: 56px;
	width: 70px;
}

#perso_stars
{
	left: 60px;
}

.perso_script
{
	left: 130px;
	width: 125px;
}

#perso_buffs
{
	left: 37px;
}

#perso_heure
{
	left: 457px;
}

#perso_position
{
  box-shadow: 0 1px 2px rgba(15, 5, 107, 0.3) inset;
  left: 450px;
}

#perso_groupe
{
	left: 540px;
	width: 448px;
}

#perso_groupe li.membre_groupe
{
	background:  rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(15, 5, 107, 0.3);
  width: 220px;
}

.jauge_bulle, .jauge_groupe
{
	border: 1px solid rgba(15, 5, 107, 0.3);
}

.membre_hp .icone-mort
{
	color: rgba(15, 5, 107, 0.5);
}

/*.buff_dispo, .buff_nondispo
{
	color: rgba(15, 5, 107, 0.3);
}

.buff_dispo
{
	box-shadow:  0 1px 2px 0px rgba(15, 5, 107, 0.5) inset;
}

.buff_nondispo
{
	border: solid 1px rgba(15, 5, 107, 0.2);
}*/

.jauge_shine
{
	margin: 0;
	background: no-repeat;
	text-align: center;
	color: white;
	padding: 2px;
	font-size: 12px;
	height: 18px;
}

#perso_xp
{
	z-index: 10;
	position: absolute;
	top: 122px;
	left: -14px;
	width: 102px;
	height: 101px;
	pointer-events:none;
}

.groupe_activite.mort
{
	margin-left: 18px;
}

.membre_mort
{
	position: absolute;
	left: 3px;
	top: 5px;
}

.jauge_shine_groupe
{
	height: 5px;
	width: 100px;
	position: relative;
	left: 2px;
	margin: 1px;
}

.jauge_shine_groupe.mort
{
	left: 18px;
}

.membre_lieu
{
	position: absolute;
	right: 4;
	top: 2px;
}

.membre_dist
{
  position: absolute;
  right: 4px;
  top: 15px;
}


/* ----  Partie gauche -------*/

#cadre_gauche, #depl_disque, #depl_disque a#depl_disque_centre, #depl_disque span#depl_disque_centre
{
	border-color: #0F056B;
}

#cadre_gauche, .bat_drap_droite.minicarte
{
	background: url('../image/v2/map.png');
}

#depl_disque a
{
	background-size: 31px 93px;
	background-position:center;
}

#depl_disque a:hover { background-position:top; }
#depl_disque a:active { background-position:bottom; }

a#depl_haut_gauche
{
	background-image: url('./../image/rosedesvent/nordouest.png');
}
a#depl_haut
{
	background-image: url('./../image/rosedesvent/nord.png');
}
a#depl_haut_droite
{
	background-image: url('./../image/rosedesvent/nordest.png');
}
a#depl_gauche
{
	background-image: url('./../image/rosedesvent/ouest.png');
}
a#depl_disque_centre
{
	background-image: url('./../image/rosedesvent/rafraichir.png');
	border-radius: 0;
	border:none;
	top: 31px;
	left: 31px;
	width: 29px;
	height: 29px;
	background-size: 29px 87px;
}
a#depl_droite
{
	background-image: url('./../image/rosedesvent/est.png');
}
a#depl_bas_gauche
{
	background-image: url('./../image/rosedesvent/sudouest.png');
}
a#depl_bas
{
	background-image: url('./../image/rosedesvent/sud.png');
}
a#depl_bas_droite
{
	background-image: url('./../image/rosedesvent/sudest.png');
}

#depl_disque, .depl_cache
{
	background: #E7CF98;
}

a#depl_disque_centre.icone
{
	background: #E7CF98;
	top: 26px;
	left: 26px;
	border: 1px solid #0F056B;
	border-radius: 50%;
	width: 40px;
	height: 40px;;
}

#depl_centre
{
	background: rgba(255, 255, 255, 0.2);
	border-color: rgba(15, 5, 107, 0.5);
}

#menu_panneaux a, #menu_ville_carte a, #menu_carte a, #menu_ville a, #menu_carte li:first-child a, #menu_ville li:first-child a, #depl_disque a
{
	border-color: rgba(15, 5, 107, 0.4);
	color: #22427C;
}

#menu_panneaux a:hover, #menu_carte a:hover, #menu_ville a:hover, #depl_disque a:hover, #depl_disque a:active
{
	/*background: rgba(255, 255, 255, 0.3);*/
	color: #2F2F4F!important;
}

#carte
{
	color: #22427C;
}

#carte_bord_haut_x, #carte_bord_haut_y
{
	color:#2F2F4F!important;
}

#coffre
{
	border-right: 1px solid rgba(15, 5, 107, 0.3);
}

#coffre_invent li a:hover
{
	color: #EC971F;
}

/*#jauge_droite, #jauge_gauche
{
	top: 4px;
	left: 5px;
}

#jauge_ext_stop
{
	top: 16px;
	left: 17px;
}

#jauge_int_stop
{
	top: 28px;
	left: 29px;
}
span#depl_disque_centre
{
	top: 30px;
	left: 31px;
}*/

/* ----  Partie droite -------*/

#information
{
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(15, 5, 107, 0.5);
	/*margin-top: 20px;*/
}

#information a { color:rgba(15, 5, 107, 0.7); }

#information a:hover { color:#EC971F!important; }

a#debug_droit
{
  color: rgba(15, 5, 107, 0.5);
}

.info_case, .action
{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(15, 5, 107, 0.3);
}

#batiments_ville .info_case>a
{
  border-color: rgba(15, 5, 107, 0.3) !important;
}

#liste_gauche, #rp_pj, #rp_gauche, #rp_haut, #rp_gauche>div:nth-of-type(n+2), #rp_texte>div:nth-of-type(n+2)
{
	border-color: rgba(15, 5, 107, 0.5);
}

#rp_haut
{
	background: none repeat scroll 0px 0px rgba(15, 5, 107, 0.3);
}

#information div.panel-heading>a:hover
{
	color: #2F2F4F!important;
}

.action .icone-deplacer
{
  color: rgba(15, 5, 107, 0.7);
}

#messagerie #titre
{
	color: #E7CF98;
	background-color: rgba(15, 5, 107, 0.3);
	border-color: rgba(15, 5, 107, 0.4);
}

#messagerie #titre a.icone
{
	color: #E7CF98;
	border-color: rgba(255, 255, 255, 0.5);
}

#messagerie .editeur, #messagerie .editeur .editeur-outils
{
	border-color: rgba(15, 5, 107, 0.3);
}

#col2
{
	border-color: rgba(15, 5, 107, 0.5);
}