/*-- Infos du royaume --------------------------------------------------*/

#royaume
{
	height:70px;
	margin-bottom: 10px;
}

#infos_royaume
{
  position:absolute;
  left: 8px;
  width:530px;
  height:62px;
  top: 3px;
}

#infos_royaume>ul
{
	float: left;
	margin: 2px 10px;
}

#infos_royaume>ul>li
{
	margin: 2px;
}

#ressources
{
  position:absolute;
  right: 8px;
  width:425px;
  height:62px;
  top: 3px;
}

.ressource
{
	margin-left: 2px;
	margin-right:20px;
	line-height: 30px !important;
	height:30px !important;
	padding-left: 32px !important;
	/*float:left;
	display:block;*/
}

#ressources .ressource
{
	width:80px;
	display:inline-block;
}

.bois {background:transparent url('../image/icone/ressources_bois.png') no-repeat;}
.eau {background:transparent url('../image/icone/ressources_eau.png') no-repeat;}
.essence {background:transparent url('../image/icone/ressources_essence.png') no-repeat;}
.pierre {background:transparent url('../image/icone/ressources_pierre.png') no-repeat;}
.charbon {background:transparent url('../image/icone/ressources_charbon.png') no-repeat;}
.sable {background:transparent url('../image/icone/ressources_sable.png') no-repeat;}
.star {background:transparent url('../image/icone/ressources_star.png') no-repeat;}
.nourriture, .food {background:transparent url('../image/icone/ressources_nourriture.png') no-repeat;}

.ongl_gest
{
	width: 1000px;
}

#bourse
{
	margin-bottom: 10px;
}

.modal-body .input-group
{
	margin: 5px;
}