/* Textures */
.texl0
{
	background: url('../image/texture_low/tex_herbe1.png') no-repeat;
}
/* Herbe */
.texl1
{
	background: url('../image/texture_low/tex_herbe1.png') no-repeat;
}
.texl101
{
	background: url('../image/texture_low/tex_herbe1.png') no-repeat;
}
.texl102
{
	background: url('../image/texture_low/tex_herbefleur.png') no-repeat;
}
.texl103
{
	background: url('../image/texture_low/tex_herbebuisson.png') no-repeat;
}
.texl104
{
	background: url('../image/texture_low/tex_herbearbre1.png') no-repeat;
}
.texl105
{
	background: url('../image/texture_low/tex_herbearbre2.png') no-repeat;
}

/* Foret */
.texl2
{
	background: url('../image/texture_low/tex_foret1.png') no-repeat;
}
.texl201
{
	background: url('../image/texture_low/tex_foret1.png') no-repeat;
}
.texl202
{
	background: url('../image/texture_low/tex_foret2.png') no-repeat;
}
.texl203
{
	background: url('../image/texture_low/tex_foret3.png') no-repeat;
}
.texl204
{
	background: url('../image/texture_low/tex_foret4.png') no-repeat;
}
.texl205
{
	background: url('../image/texture_low/tex_foret5.png') no-repeat;
}
.texl206
{
	background: url('../image/texture_low/tex_foret6.png') no-repeat;
}
.texl207
{
	background: url('../image/texture_low/tex_foret7.png') no-repeat;
}
.texl208
{
	background: url('../image/texture_low/tex_foret8.png') no-repeat;
}
.texl209
{
	background: url('../image/texture_low/tex_foret9.png') no-repeat;
}
.texl210
{
	background: url('../image/texture_low/tex_foret10.png') no-repeat;
}
.texl211
{
	background: url('../image/texture_low/tex_foret11.png') no-repeat;
}
.texl212
{
	background: url('../image/texture_low/tex_foret12.png') no-repeat;
}
.texl213
{
	background: url('../image/texture_low/tex_foret13.png') no-repeat;
}
.texl214
{
	background: url('../image/texture_low/tex_foret14.png') no-repeat;
}
.texl215
{
	background: url('../image/texture_low/jungle.png') no-repeat;
}
.texl216
{
	background: url('../image/texture_low/junglecoinne.png') no-repeat;
}
.texl217
{
	background: url('../image/texture_low/junglecoinno.png') no-repeat;
}
.texl218
{
	background: url('../image/texture_low/junglecoinse.png') no-repeat;
}
.texl219
{
	background: url('../image/texture_low/junglecoinso.png') no-repeat;
}
.texl220
{
	background: url('../image/texture_low/jungleherbecoinne.png') no-repeat;
}
.texl221
{
	background: url('../image/texture_low/jungleherbecoinse.png') no-repeat;
}
.texl222
{
	background: url('../image/texture_low/jungleherbecoinso.png') no-repeat;
}
.texl223
{
	background: url('../image/texture_low/jungleherbee.png') no-repeat;
}
.texl224
{
	background: url('../image/texture_low/jungleherben.png') no-repeat;
}
.texl225
{
	background: url('../image/texture_low/jungleherbeo.png') no-repeat;
}
.texl226
{
	background: url('../image/texture_low/jungleherbes.png') no-repeat;
}
.texl227
{
	background: url('../image/texture_low/jungleherbesoinno.png') no-repeat;
}


/* DÈsert */
.texl301
{
	background: url('../image/texture_low/tex_desert.png') no-repeat;
}
.texl302
{
	background: url('../image/texture_low/tex_herbedesertno.png') no-repeat;
}
.texl303
{
	background: url('../image/texture_low/tex_desertherbeo.png') no-repeat;
}
.texl304
{
	background: url('../image/texture_low/tex_herbedesertso.png') no-repeat;
}
.texl305
{
	background: url('../image/texture_low/tex_desertherbes.png') no-repeat;
}
.texl306
{
	background: url('../image/texture_low/tex_herbedesertse.png') no-repeat;
}
.texl307
{
	background: url('../image/texture_low/tex_desertherbee.png') no-repeat;
}
.texl308
{
	background: url('../image/texture_low/tex_herbedesertne.png') no-repeat;
}
.texl309
{
	background: url('../image/texture_low/tex_desertherben.png') no-repeat;
}
.texl310
{
	background: url('../image/texture_low/tex_desertherbese.png') no-repeat;
}
.texl311
{
	background: url('../image/texture_low/tex_desertherbene.png') no-repeat;
}
.texl312
{
	background: url('../image/texture_low/tex_desertherbeno.png') no-repeat;
}
.texl313
{
	background: url('../image/texture_low/tex_desertherbeso.png') no-repeat;
}
.texl314
{
	background: url('../image/texture_low/tex_desertcac.png') no-repeat;
}
.texl315
{
	background: url('../image/texture_low/tex_desertoasis.png') no-repeat;
}
/* Glace */
.texl401
{
	background: url('../image/texture_low/tex_neige1.png') no-repeat;
}
.texl402
{
	background: url('../image/texture_low/tex_banquiseno.png') no-repeat;
}
.texl403
{
	background: url('../image/texture_low/tex_banquiseo.png') no-repeat;
}
.texl404
{
	background: url('../image/texture_low/tex_banquiseso.png') no-repeat;
}
.texl405
{
	background: url('../image/texture_low/tex_banquises.png') no-repeat;
}
.texl406
{
	background: url('../image/texture_low/tex_banquisese.png') no-repeat;
}
.texl407
{
	background: url('../image/texture_low/tex_banquisee.png') no-repeat;
}
.texl408
{
	background: url('../image/texture_low/tex_banquisene.png') no-repeat;
}
.texl409
{
	background: url('../image/texture_low/tex_banquisen.png') no-repeat;
}
.texl410
{
	background: url('../image/texture_low/tex_banquiseint1.png') no-repeat;
}
.texl411
{
	background: url('../image/texture_low/tex_banquiseint2.png') no-repeat;
}
.texl412
{
	background: url('../image/texture_low/tex_banquiseint3.png') no-repeat;
}
.texl413
{
	background: url('../image/texture_low/tex_banquiseint4.png') no-repeat;
}
.texl414
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbecoinne.png') no-repeat;
}
.texl415
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbecoinno.png') no-repeat;
}
.texl416
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbecoinse.png') no-repeat;
}
.texl417
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbecoinso.png') no-repeat;
}
.texl418
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbee.png') no-repeat;
}
.texl419
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherben.png') no-repeat;
}
.texl420
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbeo.png') no-repeat;
}
.texl421
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbes.png') no-repeat;
}
.texl422
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbene.png') no-repeat;
}
.texl423
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbeno.png') no-repeat;
}
.texl424
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbese.png') no-repeat;
}
.texl425
{
	background: url('../image/texture_low/neigeherbe/tex_neigeherbesoinso.png') no-repeat;
}

/* Montagne neige */

.texl426
{
	background: url('../image/texture_low/montagneneige/tex_montneige3.png') no-repeat;
}
.texl427
{
	background: url('../image/texture_low/montagneneige/tex_montneige9.png') no-repeat;
}
.texl428
{
	background: url('../image/texture_low/montagneneige/tex_montneige5.png') no-repeat;
}
.texl429
{
	background: url('../image/texture_low/montagneneige/tex_montneige6.png') no-repeat;
}
.texl430
{
	background: url('../image/texture_low/montagneneige/tex_montneige7.png') no-repeat;
}
.texl431
{
	background: url('../image/texture_low/montagneneige/tex_montneige8.png') no-repeat;
}
.texl432
{
	background: url('../image/texture_low/montagneneige/tex_montneige2.png') no-repeat;
}
.texl433
{
	background: url('../image/texture_low/montagneneige/tex_montneige10.png') no-repeat;
}
.texl434
{
	background: url('../image/texture_low/montagneneige/tex_montneige11.png') no-repeat;
}
.texl435
{
	background: url('../image/texture_low/montagneneige/tex_montneige3.png') no-repeat;
}
.texl436
{
	background: url('../image/texture_low/montagneneige/tex_montneige4.png') no-repeat;
}
.texl437
{
	background: url('../image/texture_low/montagneneige/tex_montneige12.png') no-repeat;
}

/* Texture spÈciale neige */

.texl438
{
	background: url('../image/texture_low/neigeherbe/tex_raccordeauneigeherbe.png') no-repeat;
}
.texl439
{
	background: url('../image/texture_low/neigeherbe/tex_raccordeauneigeherbe2.png') no-repeat;
}



/* Eau */
.texl501
{
	background: url('../image/texture_low/tex_eau1.png') no-repeat;
}
.texl502
{
	background: url('../image/texture_low/tex_riviereeo.png') no-repeat;
}
.texl503
{
	background: url('../image/texture_low/tex_rivierens.png') no-repeat;
}
.texl504
{
	background: url('../image/texture_low/tex_rivierene.png') no-repeat;
}
.texl505
{
	background: url('../image/texture_low/tex_riviereno.png') no-repeat;
}
.texl506
{
	background: url('../image/texture_low/tex_rivierese.png') no-repeat;
}
.texl507
{
	background: url('../image/texture_low/tex_riviereso.png') no-repeat;
}
.texl508
{
	background: url('../image/texture_low/tex_lace.png') no-repeat;
}
.texl509
{
	background: url('../image/texture_low/tex_laco.png') no-repeat;
}
.texl510
{
	background: url('../image/texture_low/tex_lacn.png') no-repeat;
}
.texl511
{
	background: url('../image/texture_low/tex_lacs.png') no-repeat;
}
.texl512
{
	background: url('../image/texture_low/tex_lacno.png') no-repeat;
}
.texl513
{
	background: url('../image/texture_low/tex_lacne.png') no-repeat;
}
.texl514
{
	background: url('../image/texture_low/tex_lacso.png') no-repeat;
}
.texl515
{
	background: url('../image/texture_low/tex_lacse.png') no-repeat;
}
.texl516
{
	background: url('../image/texture_low/tex_lacon.png') no-repeat;
}
.texl517
{
	background: url('../image/texture_low/tex_lacos.png') no-repeat;
}
.texl518
{
	background: url('../image/texture_low/tex_laces.png') no-repeat;
}
.texl519
{
	background: url('../image/texture_low/tex_lacen.png') no-repeat;
}
.texl520
{
	background: url('../image/texture_low/tex_embouchureo.png') no-repeat;
}
.texl521
{
	background: url('../image/texture_low/tex_embouchuree.png') no-repeat;
}
.texl522
{
	background: url('../image/texture_low/tex_embouchuren.png') no-repeat;
}
.texl523
{
	background: url('../image/texture_low/tex_embouchures.png') no-repeat;
}
/* Montagne */
.texl601
{
	background: url('../image/texture_low/tex_monthorigauche.png') no-repeat;
}
.texl602
{
	background: url('../image/texture_low/tex_monthoricentre.png') no-repeat;
}
.texl603
{
	background: url('../image/texture_low/tex_monthoridroite.png') no-repeat;
}
.texl604
{
	background: url('../image/texture_low/tex_monthorigauche.png') no-repeat;
}
.texl605
{
	background: url('../image/texture_low/tex_monthoridroite.png') no-repeat;
}
.texl606
{
	background: url('../image/texture_low/tex_montouestnord.png') no-repeat;
}
.texl607
{
	background: url('../image/texture_low/tex_montouestsud.png') no-repeat;
}
.texl608
{
	background: url('../image/texture_low/tex_montsudest.png') no-repeat;
}
.texl609
{
	background: url('../image/texture_low/tex_montvertbas.png') no-repeat;
}
.texl610
{
	background: url('../image/texture_low/tex_montnordest.png') no-repeat;
}
.texl611
{
	background: url('../image/texture_low/tex_montverticentre.png') no-repeat;
}
.texl612
{
	background: url('../image/texture_low/tex_montverthaut.png') no-repeat;
}
.texl613
{
	background: url('../image/texture_low/tex_montcentre.png') no-repeat;
}
.texl615
{
	background: url('../image/texture_low/tex_rocaille1.png') no-repeat;
}
.texl616
{
	background: url('../image/texture_low/tex_rocaille2.png') no-repeat;
}
.texl617
{
	background: url('../image/texture_low/tex_rocaille3.png') no-repeat;
}
.texl618
{
	background: url('../image/texture_low/tex_rocaille4.png') no-repeat;
}
.texl619
{
	background: url('../image/texture_low/tex_rocaille5.png') no-repeat;
}
.texl620
{
	background: url('../image/texture_low/tex_rocaille6.png') no-repeat;
}
.texl621
{
	background: url('../image/texture_low/tex_rocaille7.png') no-repeat;
}
.texl622
{
	background: url('../image/texture_low/tex_rocaille8.png') no-repeat;
}
.texl623
{
	background: url('../image/texture_low/tex_rocaille9.png') no-repeat;
}
.texl624
{
	background: url('../image/texture_low/tex_rocaille10.png') no-repeat;
}
.texl627
{
	background: url('../image/texture_low/tex_rocaille13.png') no-repeat;
}
.texl628
{
	background: url('../image/texture_low/tex_rocaille14.png') no-repeat;
}
.texl629
{
	background: url('../image/texture_low/tex_rocaille15.png') no-repeat;
}
.texl630
{
	background: url('../image/texture_low/tex_rocaille.png') no-repeat;
}


/*Montagne haut */


.texl640
{
	background: url('../image/texture_low/montagneeau/tex_monteau1.png') no-repeat;
}
.texl641
{
	background: url('../image/texture_low/montagneeau/tex_monteau2.png') no-repeat;
}
.texl642
{
	background: url('../image/texture_low/montagneeau/tex_monteau3.png') no-repeat;
}
.texl643
{
	background: url('../image/texture_low/montagneeau/tex_monteau4.png') no-repeat;
}
.texl644
{
	background: url('../image/texture_low/montagneeau/tex_monteau5.png') no-repeat;
}
.texl645
{
	background: url('../image/texture_low/montagneeau/tex_monteau6.png') no-repeat;
}
.texl646
{
	background: url('../image/texture_low/montagneeau/tex_monteau7.png') no-repeat;
}
.texl647
{
	background: url('../image/texture_low/montagneeau/tex_rivieresourcemontagne.png') no-repeat;
}
.texl648
{
	background: url('../image/texture_low/montagneeau/tex_rivieresourcemontagne1.png') no-repeat;
}
.texl649
{
	background: url('../image/texture_low/montagneeau/tex_rivieresourcemontagne2.png') no-repeat;
}
.texl650
{
	background: url('../image/texture_low/montagneeau/tex_rivieresourcemontagne4.png') no-repeat;
}
.texl651
{
	background: url('../image/texture_low/montagneeau/tex_monteau8.png') no-repeat;
}
.texl652
{
	background: url('../image/texture_low/montagneeau/tex_monteau9.png') no-repeat;
}

.texl653
{
	background: url('../image/texture_low/montagneeau/tex_monteau10.png') no-repeat;
}
.texl654
{
	background: url('../image/texture_low/montagneeau/tex_monteau11.png') no-repeat;
}
.texl655
{
	background: url('../image/texture_low/montagneeau/tex_monteau12.png') no-repeat;
}
.texl656
{
	background: url('../image/texture_low/montagneeau/tex_monteau13.png') no-repeat;
}


/* Marais */
.texl701
{
	background: url('../image/texture_low/tex_marais.png') no-repeat;
}
.texl702
{
	background: url('../image/texture_low/tex_marais1.png') no-repeat;
}
.texl703
{
	background: url('../image/texture_low/tex_marais2.png') no-repeat;
}
.texl704
{
	background: url('../image/texture_low/tex_marais3.png') no-repeat;
}
.texl705
{
	background: url('../image/texture_low/tex_marais4.png') no-repeat;
}
.texl706
{
	background: url('../image/texture_low/tex_marais5.png') no-repeat;
}
.texl707
{
	background: url('../image/texture_low/tex_marais6.png') no-repeat;
}
.texl708
{
	background: url('../image/texture_low/tex_marais7.png') no-repeat;
}
.texl709
{
	background: url('../image/texture_low/tex_marais8.png') no-repeat;
}
.texl710
{
	background: url('../image/texture_low/tex_marais9.png') no-repeat;
}
.texl711
{
	background: url('../image/texture_low/tex_marais10.png') no-repeat;
}
.texl712
{
	background: url('../image/texture_low/tex_marais11.png') no-repeat;
}
.texl713
{
	background: url('../image/texture_low/tex_marais12.png') no-repeat;
}
.texl714
{
	background: url('../image/texture_low/tex_marais13.png') no-repeat;
}
.texl715
{
	background: url('../image/texture_low/tex_marais14.png') no-repeat;
}
.texl716
{
	background: url('../image/texture_low/tex_marais15.png') no-repeat;
}
.texl717
{
	background: url('../image/texture_low/tex_marais16.png') no-repeat;
}
.texl718
{
	background: url('../image/texture_low/tex_maraisnenu.png') no-repeat;
}
.texl719
{
	background: url('../image/texture_low/tex_maraisnenu2.png') no-repeat;
}
/* Route */
.texl801
{
	background: url('../image/texture_low/tex_routepaveens.png') no-repeat;
}
.texl802
{
	background: url('../image/texture_low/tex_routepaveeeo.png') no-repeat;
}
.texl803
{
	background: url('../image/texture_low/tex_croisementpave.png') no-repeat;
}
.texl804
{
	background: url('../image/texture_low/tex_intersectionpaveeso.png') no-repeat;
}
.texl805
{
	background: url('../image/texture_low/tex_intersectionpavenes.png') no-repeat;
}
.texl806
{
	background: url('../image/texture_low/tex_intersectionpavenos.png') no-repeat;
}
.texl807
{
	background: url('../image/texture_low/tex_intersectionpaveone.png') no-repeat;
}
.texl808
{
	background: url('../image/texture_low/tex_tournantpavene.png') no-repeat;
}
.texl809
{
	background: url('../image/texture_low/tex_tournantpaveno.png') no-repeat;
}
.texl810
{
	background: url('../image/texture_low/tex_tournantpavese.png') no-repeat;
}
.texl811
{
	background: url('../image/texture_low/tex_tournantpaveso.png') no-repeat;
}
.texl812
{
	background: url('../image/texture_low/tex_pontpaveeo.png') no-repeat;
}
.texl813
{
	background: url('../image/texture_low/tex_pontpavens.png') no-repeat;
}
.texl814
{
	background: url('../image/texture_low/tex_cheminherbns.png') no-repeat;
}
.texl815
{
	background: url('../image/texture_low/tex_cheminherbeo.png') no-repeat;
}
.texl816
{
	background: url('../image/texture_low/tex_pontdeboisns.png') no-repeat;
}
.texl817
{
	background: url('../image/texture_low/tex_pontdeboiseo.png') no-repeat;
}
.texl818
{
	background: url('../image/texture_low/tex_chemindesertns.png') no-repeat;
}
.texl819
{
	background: url('../image/texture_low/tex_chemindesertoe.png') no-repeat;
}
.texl820
{
	background: url('../image/texture_low/tex_chemindesertones.png') no-repeat;
}
.texl821
{
	background: url('../image/texture_low/tex_chemindesertone.png') no-repeat;
}
.texl822
{
	background: url('../image/texture_low/tex_chemindesertons.png') no-repeat;
}
.texl823
{
	background: url('../image/texture_low/tex_chemindesertnes.png') no-repeat;
}
.texl824
{
	background: url('../image/texture_low/tex_chemindesertoes.png') no-repeat;
}
.texl825
{
	background: url('../image/texture_low/tex_chemindesertos.png') no-repeat;
}
.texl826
{
	background: url('../image/texture_low/tex_chemindesertse.png') no-repeat;
}
.texl827
{
	background: url('../image/texture_low/tex_chemindeserton.png') no-repeat;
}
.texl828
{
	background: url('../image/texture_low/tex_chemindesertne.png') no-repeat;
}
.texl829
{
	background: url('../image/texture_low/tex_neigeroutens.png') no-repeat;
}
.texl830
{
	background: url('../image/texture_low/tex_neigerouteoe.png') no-repeat;
}
.texl831
{
	background: url('../image/texture_low/tex_croisementneige.png') no-repeat;
}
.texl832
{
	background: url('../image/texture_low/tex_intersectionneigeose.png') no-repeat;
}
.texl833
{
	background: url('../image/texture_low/tex_intersectionneigenso.png') no-repeat;
}
.texl834
{
	background: url('../image/texture_low/tex_intersectionneigenos.png') no-repeat;
}
.texl835
{
	background: url('../image/texture_low/tex_intersectionneigenoe.png') no-repeat;
}
.texl836
{
	background: url('../image/texture_low/tex_neigeroutene.png') no-repeat;
}
.texl837
{
	background: url('../image/texture_low/tex_neigerouteno.png') no-repeat;
}
.texl838
{
	background: url('../image/texture_low/tex_neigeroutese.png') no-repeat;
}
.texl839
{
	background: url('../image/texture_low/tex_neigerouteso.png') no-repeat;
}
.texl840
{
	background: url('../image/texture_low/tex_pontherbeneige2.png') no-repeat;
}
.texl841
{
	background: url('../image/texture_low/tex_pontherbeneigeo2.png') no-repeat;
}
.texl842
{
	background: url('../image/texture_low/tex_pontherbeneigen2.png') no-repeat;
}
.texl843
{
	background: url('../image/texture_low/tex_pontherbeneiges2.png') no-repeat;
}
.texl844
{
	background: url('../image/texture_low/tex_pontherbeneigeo.png') no-repeat;
}
.texl845
{
	background: url('../image/texture_low/tex_pontherbeneigee.png') no-repeat;
}
.texl846
{
	background: url('../image/texture_low/tex_pontherbeneiges.png') no-repeat;
}
.texl847
{
	background: url('../image/texture_low/tex_pontherbeneigen.png') no-repeat;
}
.texl860
{
	background: url('../image/texture_low/tex_intersectionpaveneigens.png') no-repeat;
}


.texl848
{
	background: url('../image/texture_low/routemarais/tex_routemarais2.png') no-repeat;
}
.texl849
{
	background: url('../image/texture_low/routemarais/tex_routemarais5.png') no-repeat;
}
.texl850
{
	background: url('../image/texture_low/routemarais/tex_routemaraiscroisement.png') no-repeat;
}
.texl851
{
	background: url('../image/texture_low/routemarais/tex_intersectionmarais4.png') no-repeat;
}
.texl852
{
	background: url('../image/texture_low/routemarais/tex_intersectionmarais2.png') no-repeat;
}
.texl853
{
	background: url('../image/texture_low/routemarais/tex_intersectionmarais.png') no-repeat;
}
.texl854
{
	background: url('../image/texture_low/routemarais/tex_intersectionmarais3.png') no-repeat;
}
.texl855
{
	background: url('../image/texture_low/routemarais/tex_routemarais1.png') no-repeat;
}
.texl856
{
	background: url('../image/texture_low/routemarais/tex_routemarais4.png') no-repeat;
}
.texl857
{
	background: url('../image/texture_low/routemarais/tex_routemarais6.png') no-repeat;
}
.texl858
{
	background: url('../image/texture_low/routemarais/tex_routemarais7.png') no-repeat;
}

.texl859
{
	background: url('../image/texture_low/routemarais/tex_routemaraisherbens.png') no-repeat;
}

/* tex860 prise */

.texl861
{
	background: url('../image/texture_low/terremaudite/tex_routeterremauditecroise.png') no-repeat;
}
.texl862
{
	background: url('../image/texture_low/terremaudite/tex_routeterremauditene.png') no-repeat;
}
.texl863
{
	background: url('../image/texture_low/terremaudite/tex_routeterremauditeno.png') no-repeat;
}
.texl864
{
	background: url('../image/texture_low/terremaudite/tex_routeterremauditese.png') no-repeat;
}
.texl865
{
	background: url('../image/texture_low/terremaudite/tex_routeterremauditeso.png') no-repeat;
}
.texl866
{
	background: url('../image/texture_low/terremaudite/tex_routeterremauditees.png') no-repeat;
}
.texl867
{
	background: url('../image/texture_low/terremaudite/tex_routeterremauditens.png') no-repeat;
}
.texl868
{
        background: url('../image/texture_low/Jointures/tex_desertrouteraccord.png') no-repeat;
}
.texl869
{    
        background: url('../image/texture_low/Jointures/tex_routechemineo.png') no-repeat;
}
.texl870
{
        background: url('../image/texture_low/terremaudite/tex_routeherbeterremauditen.png') no-repeat;
}
.texl871
{
        background: url('../image/texture_low/Jointures/tex_desertrouteeo.png') no-repeat;
}
.texl872
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob_pont.png') no-repeat;
}

.texl6
{
	background: url('../image/texture_low/tex_desert1.png') no-repeat;
}
.texl3
{
	background: url('../image/texture_low/tex_eau1.png') no-repeat;
}
.texl4
{
	background: url('../image/texture_low/tex_forthumain1.png') no-repeat;
}
.texl7
{
	background: url('../image/texture_low/tex_herbcimet.png') no-repeat;
}
.texl1008
{
	background: url('../image/texture_low/tex_herbcimet.png') no-repeat;
}
/* Batiments */
.texl1001
{
	background: url('../image/texture_low/tex_forthumain1.png') no-repeat;
}
.texl1002
{
	background: url('../image/texture_low/capitale/defaut/tex_capitalehum1.png') no-repeat;
}
.texl1003
{
	background: url('../image/texture_low/capitale/defaut/tex_capitalehum2.png') no-repeat;
}
.texl1004
{
	background: url('../image/texture_low/capitale/defaut/tex_capitalehum3.png') no-repeat;
}
.texl1005
{
	background: url('../image/texture_low/capitale/defaut/tex_capitalehum4.png') no-repeat;
}
.texl1006
{
	background: url('../image/texture_low/capitale/defaut/tex_capitalehum5.png') no-repeat;
}
.texl1007
{
	background: url('../image/texture_low/capitale/defaut/tex_capitalehum6.png') no-repeat;
}

.texl1009
{
	background: url('../image/texture_low/capitale/vampire/tex_capitalevamp1.png') no-repeat;
}
.texl1010
{
	background: url('../image/texture_low/capitale/vampire/tex_capitalevamp2.gif') no-repeat;
}
.texl1011
{
	background: url('../image/texture_low/capitale/vampire/tex_capitalevamp3.png') no-repeat;
}
.texl1012
{
	background: url('../image/texture_low/capitale/vampire/tex_capitalevamp4.png') no-repeat;
}
.texl1013
{
	background: url('../image/texture_low/capitale/vampire/tex_capitalevamp5.png') no-repeat;
}
.texl1014
{
	background: url('../image/texture_low/capitale/vampire/tex_capitalevamp6.png') no-repeat;
}
.texl1015
{
	background: url('../image/texture_low/capitale/scav/tex_capitalescav1.png') no-repeat;
}
.texl1016
{
	background: url('../image/texture_low/capitale/scav/tex_capitalescav2.png') no-repeat;
}
.texl1017
{
	background: url('../image/texture_low/capitale/scav/tex_capitalescav3.png') no-repeat;
}
.texl1018
{
	background: url('../image/texture_low/capitale/scav/tex_capitalescav4.png') no-repeat;
}
.texl1019
{
	background: url('../image/texture_low/capitale/scav/tex_capitalescav5.png') no-repeat;
}
.texl1020
{
	background: url('../image/texture_low/capitale/scav/tex_capitalescav6.png') no-repeat;
}
.texl1021
{
	background: url('../image/texture_low/capitale/barbare/tex_capbarb1.png') no-repeat;
}
.texl1022
{
	background: url('../image/texture_low/capitale/barbare/tex_capbarb2.png') no-repeat;
}
.texl1023
{
	background: url('../image/texture_low/capitale/barbare/tex_capbarb3.png') no-repeat;
}
.texl1024
{
	background: url('../image/texture_low/capitale/barbare/tex_capbarb4.png') no-repeat;
}
.texl1025
{
	background: url('../image/texture_low/capitale/barbare/tex_capbarb5.png') no-repeat;
}
.texl1026
{
	background: url('../image/texture_low/capitale/barbare/tex_capbarb6.png') no-repeat;
}
.texl1027
{
	background: url('../image/texture_low/capitale/mort-vivant/tex_capitalemarais1v2.png') no-repeat;
}
.texl1028
{
	background: url('../image/texture_low/capitale/mort-vivant/tex_capitalemarais2v2.png') no-repeat;
}
.texl1029
{
	background: url('../image/texture_low/capitale/mort-vivant/tex_capitalemarais3v2.png') no-repeat;
}
.texl1030
{
	background: url('../image/texture_low/capitale/mort-vivant/tex_capitalemarais4v2.png') no-repeat;
}
.texl1031
{
	background: url('../image/texture_low/capitale/mort-vivant/tex_capitalemarais5v2.png') no-repeat;
}
.texl1032
{
	background: url('../image/texture_low/capitale/mort-vivant/tex_capitalemarais6v2.png') no-repeat;
}


.texl1033
{
	background: url('../image/texture_low/capitale/haut_elfs/capitale1.png') no-repeat;
}
.texl1034
{
	background: url('../image/texture_low/capitale/haut_elfs/capitale2.png') no-repeat;
}
.texl1035
{
	background: url('../image/texture_low/capitale/haut_elfs/capitale3.png') no-repeat;
}
.texl1036
{
	background: url('../image/texture_low/capitale/haut_elfs/capitale4.png') no-repeat;
}
.texl1037
{
	background: url('../image/texture_low/capitale/haut_elfs/capitale5.png') no-repeat;
}
.texl1038
{
	background: url('../image/texture_low/capitale/haut_elfs/capitale6.png') no-repeat;
}

.texl1039
{
	background: url('../image/texture_low/capitale/troll/capital1.png') no-repeat;
}
.texl1040
{
	background: url('../image/texture_low/capitale/troll/capital2.png') no-repeat;
}
.texl1041
{
	background: url('../image/texture_low/capitale/troll/capital3.png') no-repeat;
}
.texl1042
{
	background: url('../image/texture_low/capitale/troll/capital4.png') no-repeat;
}
.texl1043
{
	background: url('../image/texture_low/capitale/troll/capital5.png') no-repeat;
}
.texl1044
{
	background: url('../image/texture_low/capitale/troll/capital6.png') no-repeat;
}
.texl1045
{
	background: url('../image/texture_low/capitale/orc/capitaleorc1.png') no-repeat;
}
.texl1046
{
	background: url('../image/texture_low/capitale/orc/capitaleorc2.png') no-repeat;
}
.texl1047
{
	background: url('../image/texture_low/capitale/orc/capitaleorc3.png') no-repeat;
}
.texl1048
{
	background: url('../image/texture_low/capitale/orc/capitaleorc4.png') no-repeat;
}
.texl1049
{
	background: url('../image/texture_low/capitale/orc/capitaleorc5.png') no-repeat;
}
.texl1050
{
	background: url('../image/texture_low/capitale/orc/capitaleorc6.png') no-repeat;
}
.texl1051
{
	background: url('../image/texture_low/capitale/elfedesbois/tex_capitaleelfesdesbois1.png') no-repeat;
}
.texl1052
{
	background: url('../image/texture_low/capitale/elfedesbois/tex_capitaleelfesdesbois2.png') no-repeat;
}
.texl1053
{
	background: url('../image/texture_low/capitale/elfedesbois/tex_capitaleelfesdesbois3.png') no-repeat;
}
.texl1054
{
	background: url('../image/texture_low/capitale/elfedesbois/tex_capitaleelfesdesbois4.png') no-repeat;
}
.texl1055
{
	background: url('../image/texture_low/capitale/elfedesbois/tex_capitaleelfesdesbois5.png') no-repeat;
}
.texl1056
{
	background: url('../image/texture_low/capitale/elfedesbois/tex_capitaleelfesdesbois6.png') no-repeat;
}
.texl1057
{
	background: url('../image/texture_low/capitale/corrompu/capitalehumainnoir_1.png') no-repeat;
}
.texl1058
{
	background: url('../image/texture_low/capitale/corrompu/capitalehumainnoir_2.png') no-repeat;
}
.texl1059
{
	background: url('../image/texture_low/capitale/corrompu/capitalehumainnoir_3.png') no-repeat;
}
.texl1060
{
	background: url('../image/texture_low/capitale/corrompu/capitalehumainnoir_4.png') no-repeat;
}
.texl1061
{
	background: url('../image/texture_low/capitale/corrompu/capitalehumainnoir_5.png') no-repeat;
}
.texl1062
{
	background: url('../image/texture_low/capitale/corrompu/capitalehumainnoir_6.png') no-repeat;
}
.texl1063
{
	background: url('../image/texture_low/capitale/humain/tex_capitalehum1.png') no-repeat;
}
.texl1064
{
	background: url('../image/texture_low/capitale/humain/tex_capitalehum2.png') no-repeat;
}
.texl1065
{
	background: url('../image/texture_low/capitale/humain/tex_capitalehum3.png') no-repeat;
}
.texl1066
{
	background: url('../image/texture_low/capitale/humain/tex_capitalehum4.png') no-repeat;
}
.texl1067
{
	background: url('../image/texture_low/capitale/humain/tex_capitalehum5.png') no-repeat;
}
.texl1068
{
	background: url('../image/texture_low/capitale/humain/tex_capitalehum6.png') no-repeat;
}
/* Terre mabite*/
.texl1101
{
	background: url('../image/texture_low/terremaudite/tex_terremaudite.png') no-repeat;
}
.texl1102
{
	background: url('../image/texture_low/terremaudite/tex_terremauditecoinse.png') no-repeat;
}
.texl1103
{
	background: url('../image/texture_low/terremaudite/tex_terremauditee.png') no-repeat;
}
.texl1104
{
	background: url('../image/texture_low/terremaudite/tex_terremauditecoinne.png') no-repeat;
}
.texl1105
{
	background: url('../image/texture_low/terremaudite/tex_terremauditen.png') no-repeat;
}
.texl1106
{
	background: url('../image/texture_low/terremaudite/tex_terremauditecoinno.png') no-repeat;
}
.texl1107
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeo.png') no-repeat;
}
.texl1108
{
	background: url('../image/texture_low/terremaudite/tex_terremauditecoinso.png') no-repeat;
}
.texl1109
{
	background: url('../image/texture_low/terremaudite/tex_terremaudites.png') no-repeat;
}

.texl1110
{
	background: url('../image/texture_low/terremaudite/tex_terremauditese.png') no-repeat;
}

.texl1111
{
	background: url('../image/texture_low/terremaudite/tex_terremauditene.png') no-repeat;
}

.texl1112
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeno.png') no-repeat;
}

.texl1113
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeso.png') no-repeat;
}
.texl1114
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet1.png') no-repeat;
}
.texl1115
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet2.png') no-repeat;
}
.texl1116
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet3.png') no-repeat;
}
.texl1117
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet4.png') no-repeat;
}
.texl1118
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet5.png') no-repeat;
}
.texl1119
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet6.png') no-repeat;
}
.texl1120
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet7.png') no-repeat;
}
.texl1121
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet8.png') no-repeat;
}
.texl1122
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet9.png') no-repeat;
}
.texl1123
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet10.png') no-repeat;
}
.texl1124
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet11.png') no-repeat;
}
.texl1125
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet12.png') no-repeat;
}
.texl1126
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet13.png') no-repeat;
}
.texl1127
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeforet14.png') no-repeat;
}
.texl1128
{
	background: url('../image/texture_low/terremaudite/tex_terremauditegrave.png') no-repeat;
}
.texl1129
{
	background: url('../image/texture_low/terremaudite/tex_terremauditeblood.png') no-repeat;
}

/* Donjon */
.texl1501
{
	background: url('../image/texture_low/tex_donjon1.png') no-repeat;
}
.texl1502
{
	background: url('../image/texture_low/tex_donjon2.png') no-repeat;
}
.texl1503
{
	background: url('../image/texture_low/tex_donjon3.png') no-repeat;
}
.texl1504
{
	background: url('../image/texture_low/tex_donjon4.png') no-repeat;
}
.texl1505
{
	background: url('../image/texture_low/tex_donjon5.png') no-repeat;
}
.texl1506
{
	background: url('../image/texture_low/tex_donjon6.png') no-repeat;
}
.texl1507
{
	background: url('../image/texture_low/tex_donjon7.png') no-repeat;
}
.texl1508
{
	background: url('../image/texture_low/tex_donjon8.png') no-repeat;
}
.texl1509
{
	background: url('../image/texture_low/tex_donjon9.png') no-repeat;
}
.texl1510
{
	background: url('../image/texture_low/tex_donjon10.png') no-repeat;
}
.texl1511
{
	background: url('../image/texture_low/tex_donjon11.png') no-repeat;
}
.texl1512
{
	background: url('../image/texture_low/tex_donjon12.png') no-repeat;
}
.texl1513
{
	background: url('../image/texture_low/tex_donjon13.png') no-repeat;
}
.texl1514
{
	background: url('../image/texture_low/tex_donjon14.png') no-repeat;
}
.texl1515
{
	background: url('../image/texture_low/tex_donjon15.png') no-repeat;
}

.texl1516
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob1.png') no-repeat;
}
.texl1517
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob2.png') no-repeat;
}
.texl1518
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob3.png') no-repeat;
}
.texl1519
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob4.png') no-repeat;
}
.texl1520
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob5.png') no-repeat;
}
.texl1521
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob6.png') no-repeat;
}
.texl1522
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob7.png') no-repeat;
}
.texl1523
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob8.png') no-repeat;
}
.texl1524
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob9.png') no-repeat;
}
.texl1525
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob10.png') no-repeat;
}
.texl1526
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob11.png') no-repeat;
}
.texl1527
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob12.png') no-repeat;
}
.texl1528
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob13.png') no-repeat;
}
.texl1529
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob14.png') no-repeat;
}
.texl1530
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob15.png') no-repeat;
}
.texl1531
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob16.png') no-repeat;
}
.texl1532
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob17.png') no-repeat;
}
.texl1533
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob18.png') no-repeat;
}
.texl1534
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob19.png') no-repeat;
}
.texl1535
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob20.png') no-repeat;
}
.texl1601
{
	background: url('../image/texture_low/tex_mur_donjon1.png') no-repeat;
}
.texl1602
{
	background: url('../image/texture_low/tex_mur_donjon2.png') no-repeat;
}
.texl1603
{
	background: url('../image/texture_low/tex_mur_donjon3.png') no-repeat;
}
.texl1604
{
	background: url('../image/texture_low/tex_mur_donjon4.png') no-repeat;
}
.texl1605
{
	background: url('../image/texture_low/tex_mur_donjon5.png') no-repeat;
}
.texl1606
{
	background: url('../image/texture_low/tex_mur_donjon6.png') no-repeat;
}
.texl1607
{
	background: url('../image/texture_low/tex_mur_donjon7.png') no-repeat;
}
.texl1608
{
	background: url('../image/texture_low/tex_mur_donjon8.png') no-repeat;
}
.texl1609
{
	background: url('../image/texture_low/tex_mur_donjon9.png') no-repeat;
}
.texl1610
{
	background: url('../image/texture_low/tex_mur_donjon10.png') no-repeat;
}
.texl1611
{
	background: url('../image/texture_low/tex_mur_donjon11.png') no-repeat;
}
.texl1612
{
	background: url('../image/texture_low/tex_mur_donjon12.png') no-repeat;
}
.texl1613
{
	background: url('../image/texture_low/tex_mur_donjon13.png') no-repeat;
}
.texl1614
{
	background: url('../image/texture_low/tex_mur_donjon14.png') no-repeat;
}
.texl1615
{
	background: url('../image/texture_low/tex_mur_donjon15.png') no-repeat;
}
.texl1616
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob1.png') no-repeat;
}
.texl1617
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob2.png') no-repeat;
}
.texl1618
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob3.png') no-repeat;
}
.texl1619
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob4.png') no-repeat;
}
.texl1620
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob5.png') no-repeat;
}
.texl1621
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob6.png') no-repeat;
}
.texl1622
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob7.png') no-repeat;
}
.texl1623
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob8.png') no-repeat;
}
.texl1624
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob9.png') no-repeat;
}
.texl1625
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob10.png') no-repeat;
}
.texl1626
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob11.png') no-repeat;
}
.texl1627
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob12.png') no-repeat;
}
.texl1628
{
	background: url('../image/texture_low/donjon_gobelin/tex_mur_donjongob13.png') no-repeat;
}
.texl1630
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob_riviere.png') no-repeat;
}
.texl1640
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob_prison1.png') no-repeat;
}
.texl1641
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob_prison2.png') no-repeat;
}
.texl1642
{
	background: url('../image/texture_low/donjon_gobelin/tex_donjongob_prison3.png') no-repeat;
}
.texlblack
{
	background-color : #000000;
}