/* CSS Document */

body { 
       background: #c7d6ea;
       background-image: none;
}
/* 
div.gradin {
          position: absolute;
          left: 50%;
          top: 0px;
          z-index: 10;
}

#haut {
        background: url(../image/arenehaut.png) no-repeat;
        margin-left: -341px;
        width: 651px;
        height: 105px;
}

#bas {
       background: url(../image/arenebas.png) no-repeat;
       margin-left: -341px;
       margin-top: 676px;
       width: 651px;
       height: 119px;
}

#droite {
          background: url(../image/arenedroit.png) no-repeat;
          margin-left: 220px;
          width: 140px;
          height: 795px;
}

#gauche {
          background: url(../image/arenegauche.png) no-repeat;
          margin-left: -470px;
          width: 129px;
          height: 795px;
}

div.div_map {
  position: absolute;
  left: 10%;
  top: 0px;
  margin-top: 88px;
  margin-left: 0px;
  z-index: 1;
  position: relative;
}*/

#information { 
  position: absolute;
  top: 0px;
  margin-left: 650px;
}