body
{
	margin : 0px;
	color:#222;
}

#top
{
	background-color: #CCC;
	overflow : auto;
	z-index : 0;
	height : 47px;
	border-bottom: 1px solid #000;
	background: transparent url('./../../image/fond_perso.png') repeat-x;
	width : 100%;
}

#separateur
{
	clear : both;
	width : 100%;
	min-height: 20px;
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	margin:0;
	padding:0;
	background:transparent url('./../../image/v2/bouton_fond.png') repeat-x;
}
#conteneur2 {width:985px;margin:auto;min-height: 100%;}
#conteneur
{
	background:transparent url('./../../image/v2/bg_site.png') repeat-x;
	margin:0;
	padding:0;
	overflow : auto;
	height : 700px;
}

#infos
{
	float : right;
}

ul#menu
{
	color : #000;
	height : 26px;
	float : left;
	display : inline;
}

ul#menu ul
{
	margin-left: 20px;
}

ul#menu li
{
	display: inline;
	list-style-type: none;
	float: left;
}

ul#menu a
{
	font-weight: bold;
	font-size: 10pt;
	color: #000;
	text-decoration: none;
	margin: 0px;
	padding-left: 25px;
	padding-right: 25px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #AAAAAA;
}

ul#menu a:link
{
	color: #000;
}

ul#menu a:visited
{
	color: #000;
}

ul#menu a:hover {
       color: #FF8800;
}

ul#menu a:active {
       color: #FF9900;
       text-decoration: underline overline;
}

ul#menu ul
{
	position: absolute;
	border-left: 3px solid #555;
	border-right: 3px solid #555;
	border-bottom: 5px solid #555;
}

ul#menu ul li
{
       display: block;
       float: none;
       border-top: 1px solid #AAA;
       margin: 0px;
       padding: 2px;
       background-color : white;
}

ul#menu ul a {
       padding-left : 5px;
       padding-right : 5px;
       font-weight: normal;
       font-size: 9pt;
       border: 0px;
}

ul#menu ul li:hover {
}

#loading
{
	background:transparent url('http://www.starshine-online.com/image/ajax-loader-bar.gif') no-repeat scroll left center;
	height:22px;
	left:300px;
	position:absolute;
	top:300px;
	width:220px;
}

#map_mine {float : left;}

.bataille_groupe
{
	border : 1px dotted black;
	margin : 5px;
	padding : 3px;
}