/*-- Global site --------------------------------------------------*/
html 								{width:100%;height:100%;}
body 								{margin:0;padding:0;background:#7e909c url('../../image/v2/bg_site.png') repeat-x;width:100%;height:100%;font: 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;}
#top								{display : block;width: 1000px;margin: 0 auto;z-index :5;}

#conteneur 							{width:985px;margin:auto;min-height: 100%;}
#conteneur_back 					{z-index :2;width: 1000px;margin: 0 auto;background:transparent url('../../image/interface/global2.png') repeat-y center;min-height: 100%;}
#bas								{clear: both; width: 1000px;margin: 0 auto;text-align: center;font-size: 9px;}
#centre								{margin-top : 3px;margin-left : 7px;float : left;	height : 100%;	z-index :3;}
#deplacement						{float : left;vertical-align : top;	text-align : right;	width : 50px;	margin-left : 5px;}
#information						{height : 100%;	width : 47%;	float : left;	z-index :1;margin-left: 6px;}
#information fieldset 				{-moz-border-radius: 10px;-webkit-border-radius : 10px;background:transparent url('../../image/v2/box_accueil2.png');margin-top: 4px; }
#information fieldset legend 		{background:transparent url('../../image/v2/bouton_fond.png');-moz-border-radius: 10px;-webkit-border-radius: 10px; padding-left:10px;padding-right:10px;font-weight: bold;}
#information a, .visu a 			{color : #444;text-decoration : none;}
#information a:hover, .visu a:hover {color : #888;	text-decoration : none;}
#perso								{background-color:#c6d9f5;min-height: 87px;margin:0;padding:0;}
#perso_menu 						{margin-left:40px;margin-top:-15px;}
#perso_menu ul						{margin:0;padding:0;list-style-type: none;height:17px;text-align: center;position: relative;}
#perso_menu ul li 					{padding-left:5px;padding-right:5px;cursor: pointer;width:100px;background:transparent url('../../image/v2/box_accueil2.png');border-left : 1px solid #777;border-right : 1px solid #777;border-top : 1px solid #777;margin-left:5px;margin-right:5px;font-style: italic;-moz-border-radius-topleft: 12px;-moz-border-radius-topright: 12px;-webkit-border-top-right-radius : 12px;-webkit-border-top-left-radius : 12px;}
#perso_menu .menu 					{float:left;}
#perso_menu .select 				{background:transparent url('../../image/v2/bouton_selected.png') repeat-x;font-style:normal;font-weight: bold;}


#contruction fieldset				{float:left;width:565px;-moz-border-radius: 10px;}
#contruction ul li					{clear:both;height:19px;padding-left:10px;}
#contruction ul li:hover			{background-color:#C5D4EF;}

#perso_contenu						{margin:auto;min-height:75px;padding:5px;}
#contenu_jeu 						{margin : 0 auto !important;width:97%;margin:10px;}
#popup 								{margin-left:130px;position:absolute;top:60px;z-index:99 !important;  -moz-border-radius: 12px;-webkit-border-radius: 12px;background:transparent url(../../image/v2/box_accueil.png) repeat scroll 0 0;color:#EEE;}
#popup a 							{color:#EEE;}
#popup_menu 						{cursor:move ;background:transparent url(../../image/v2/bouton_fond.png) repeat-x scroll 0 0;}
#popup_content 						{padding:5px;text-align:justify;width:98%;}
#popup_marge 						{min-height:470px;margin:auto;width:800px;}
.fermer 							{background:transparent url('../../image/interface/rouge.png') no-repeat top left;display:block;height:16px;width:16px;cursor: pointer !important;}
#mask								{background-image:url('../../image/v2/overlay.png');height:100%;left:0;position:absolute;top:0;width:100%;z-index:9999999;}

#header								{background-color:#c6d9f5;min-height: 120px;margin:0;padding:0;}
#header_logo 						{width:1000px;margin:auto;background:transparent url('../../image/v2/site_haut.png') no-repeat left;min-height:120px;}
#header_logo ul 					{margin:0;padding:0;list-style-type: none;height:20px;text-align: center;top:101px;position: relative;}
#header_logo ul li 					{padding-left:5px;padding-right:5px;cursor: pointer;width:100px;background:transparent url('../../image/v2/contenu_fond.png');border-left : 1px solid #777;border-right : 1px solid #777;border-top : 1px solid #777;margin-left:5px;margin-right:5px;font-style: italic;-moz-border-radius-topleft: 12px;-moz-border-radius-topright: 12px;-webkit-border-top-right-radius : 12px;-webkit-border-top-left-radius : 12px;}
#header_logo .menu 					{float:left;}
#header_logo .select 				{background:transparent url('../../image/v2/bouton_selected.png') repeat-x;border-bottom:1px solid transparent;font-style:normal;font-weight: bold;}


#menu 								{height: 20px;border-bottom: 1px solid #888;border-top: 1px solid #888;margin:0;padding:0;background:transparent url('../../image/v2/bouton_fond.png') repeat-x;}
#menu a 							{color:#222;text-decoration: none;}
#menu_date 							{float:left;height: 20px;margin-left:9px; width : 91px; line-height : 20px; font-size : 0.9em;}
#menu_date img 						{height: 15px;padding-right:8px; vertical-align : middle;}
#menu_details 						{font-size:12px;float:left;margin-top:2px;}
#menu_details .menu 				{width:138px;display:block;float:left;cursor:pointer;text-align: center;border-left : 1px solid #CCC;border-rightr : 1px solid #CCC;}
#menu_details .menu:hover 			{background:transparent url('../../image/v2/bouton_hover.png') no-repeat left;padding-top:1px;}
#menu_deco 							{float : right; cursor : pointer; margin-right : 9px; line-height : 20px; font-size : 0.9em;}



#contenu_back 						{margin:0;padding:0;overflow: auto;}
#contenu 							{width:1000px;margin: auto;min-height: 700px;}
#news 								{width:830px;float:left;}

#message_confirm					{width:90%;margin: 5px auto;}

.bois								{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_bois.png') no-repeat;display:block;line-height: 30px;width:30px;height:30px;float:left;}
.eau								{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_eau.png') no-repeat;display:block;line-height: 30px;height:30px;width:30px;float:left;}
.essence							{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_essence.png') no-repeat;display:block;line-height: 30px;height:30px;width:30px;float:left;}
.pierre								{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_pierre.png') no-repeat;display:block;line-height: 30px;height:30px;width:30px;float:left;}
.sable								{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_sable.png') no-repeat;display:block;line-height: 30px;height:30px;width:30px;float:left;}
.charbon							{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_charbon.png') no-repeat;display:block;line-height: 30px;height:30px;width:30px;float:left;}
.nourriture							{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_nourriture.png') no-repeat;display:block;line-height: 30px;height:30px;width:30px;float:left;}
.star								{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_star.png') no-repeat;display:block;line-height: 30px;height:30px;width:30px;float:left;}
.food								{text-align:right;margin-right:20px;background:transparent url('../../image/icone/ressources_nourriture.png') no-repeat;display:block;line-height: 30px;height:30px;width:30px;float:left;}

#diplomatie fieldset				{-moz-border-radius: 10px;}
#diplomatie ul li 					{clear:both;height:30px;line-height: 30px;-moz-border-radius: 10px;}
#diplomatie ul li:hover			    {background-color:#C5D4EF;-moz-border-radius: 10px;}
#diplomatie .drapeau				{float:left;width:200px;}
#diplomatie .diplo					{float:left;width:200px;}
#diplomatie .liens					{float:left;width:200px;}
#diplomatie .nom					{float:left;width:200px;}

#construction fieldset				{-moz-border-radius: 10px;}
#construction ul li 				{clear:both;height:30px;line-height: 30px;-moz-border-radius: 10px;}
#construction ul li:hover		    {background-color:#C5D4EF;-moz-border-radius: 10px;}
#construction .nom					{float:left;width:200px;}

#mine fieldset						{-moz-border-radius: 10px;float:left;width:280px;}
#mine fieldset:hover				{background-color:#C5D4EF;}
#mine ul li 						{clear:both;height:20px;line-height: 20px;-moz-border-radius: 10px;}

#infos	fieldset					{-moz-border-radius: 10px;}
#infos .nom							{float:left;width:155px;}
#infos .position					{float:left;width:70px;}
#infos .supprimer					{float:left;width:20px;}

#telephone fieldset					{-moz-border-radius: 10px;}
#telephone ul li 					{clear:both;height:30px;line-height: 30px;-moz-border-radius: 10px;}
#telephone ul li:hover			    {background-color:#C5D4EF;-moz-border-radius: 10px;}
#telephone .roi						{float:left;width:450px;}
#telephone .nom						{float:left;width:450px;}


#criminel fieldset					{-moz-border-radius: 10px;}
#criminel ul li 					{clear:both;height:21px;line-height: 21px;-moz-border-radius: 10px;}
#criminel ul li:hover			    {background-color:#C5D4EF;-moz-border-radius: 10px;}
#criminel .nom					    {float:left;width:150px;text-indent: 5px;}
#criminel .crime				    {float:left;width:150px;text-align: right;}
#criminel .amende				    {float:left;width:150px;text-align: right;}


#stats fieldset						{width:168px;float:left;-moz-border-radius: 10px;}
#stats ul li 						{clear:both;height:21px;line-height: 21px;-moz-border-radius: 10px;}
#stats ul li:hover					{background-color:#C5D4EF;-moz-border-radius: 10px;}
#stats .nom							{float:left;width:95px;text-indent: 5px;}
#stats .stats						{float:left;width:60px;text-align: right;}

#propagande fieldset				{-moz-border-radius: 10px;}
#motk fieldset						{-moz-border-radius: 10px;}

#bourse fieldset					{-moz-border-radius: 10px;}
#bourse ul li 						{clear:both;height:30px;line-height: 30px;-moz-border-radius: 10px;}
#bourse ul li:hover					{background-color:#C5D4EF;-moz-border-radius: 10px;}
.ressourse							{display:block;float: left;width:120px;text-align: left;}
.nombre								{display:block;float: left;width:70px;text-align: right;}
.prix								{display:block;float: left;width:110px;text-align: right;}
.finvente							{display:block;float: left;width:135px;text-align: right;}
.haut								{background : #EEE !important;line-height: 19px !important;height:19px !important;padding-left:6px !important;padding-right:6px !important;}
#bourse .moitie						{width:460px;float:left;}
.acheteur							{background:transparent url('../../image/icone/smile.png') no-repeat 0px;height:30px;display:block;margin-left:440px;width:16px;}



#boutique							{margin-left:24px;}
#boutique ul li 					{clear:both;height:21px;line-height: 21px;-moz-border-radius: 10px;}
#boutique ul li:hover				{background-color:#C5D4EF;-moz-border-radius: 10px;}
#boutique input						{border : 1px solid #999;width:30px;background: transparent;-moz-border-radius: 5px;text-align: center;}
.boutique_nom						{display:block;float: left;width:100px;margin-left:25px;}
.boutique_nom a						{color:#222;text-decoration: none;}
.boutique_prix						{display:block;float: left;width:70px;text-align: right;}
.boutique_pierre					{display:block;float: left;width:70px;text-align: right;}
.boutique_bois						{display:block;float: left;width:70px;text-align: right;}
.boutique_eau						{display:block;float: left;width:70px;text-align: right;}
.boutique_sable						{display:block;float: left;width:70px;text-align: right;}
.boutique_charbon					{display:block;float: left;width:70px;text-align: right;}
.boutique_essence					{display:block;float: left;width:70px;text-align: right;}
.boutique_nombre					{display:block;float: left;width:70px;text-align: right;}

#quete								{margin-left:24px;}
#quete ul li 						{clear:both;height:21px;line-height: 21px;-moz-border-radius: 10px;}
#quete ul li:hover					{background-color:#C5D4EF;-moz-border-radius: 10px;}
#quete input						{border : 1px solid #999;width:30px;background: transparent;-moz-border-radius: 5px;text-align: center;}
.quete_nom							{display:block;float: left;width:180px;margin-left:25px;}
.quete_niveau						{display:block;float: left;width:70px;text-align: right;}
.quete_groupe						{display:block;float: left;width:70px;text-align: right;}
.quete_repetable				    {display:block;float: left;width:70px;text-align: right;}
.quete_cout						    {display:block;float: left;width:70px;text-align: right;}
.quete_star						    {display:block;float: left;width:70px;text-align: right;}
.quete_exp						    {display:block;float: left;width:70px;text-align: right;}
.quete_honneur					    {display:block;float: left;width:70px;text-align: right;}
.quete_achat					    {display:block;float: left;width:150px;text-align: right;}

#ressource								{margin-left:24px;}
#ressource ul li 						{clear:both;height:21px;line-height: 30px;height: 30px; -moz-border-radius: 10px;}
#ressource ul li:hover					{background-color:#C5D4EF;-moz-border-radius: 10px;}
#ressource input						{border : 1px solid #999;width:30px;background: transparent;-moz-border-radius: 5px;text-align: center;}
.ressource_nom							{display:block;float: left;width:230px;margin-left:25px;}
.ressource_gains						{display:block;float: left;width:150px;text-align: right;}
.ressource_case							{display:block;float: left;width:150px;text-align: right;}
.ressource_mines						{display:block;float: left;width:150px;text-align: right;}
.ressource_total						{display:block;float: left;width:150px;text-align: right;}


.t1 							    {background-color:#A7BBDF;-moz-border-radius: 10px;}

