/* CSS Document */

body { 
       background: #bed0e6;
       background-image: none;
}

#gradin {
          background: url(../image/arene.png) no-repeat;
          position: absolute;
          left: 50%;
          margin-left: -470px;           
          height: 830px;
          width: 835px;
}

div.div_map {
              margin-top: 111px;
              margin-left: 108px;
}